[2017-12-13 19:49] luizgh opened #2 "Fix documentation strings"
Documentation strings are not following the numpy standards (compare the meta_des class, which uses the correct standards vs the others).

[2017-12-20 18:01] #2 closed, assigned to luizgh, Menelau

[2017-12-20 18:02] luizgh opened #4 "Investigate overflow/underflow issues (Perceptron example)"
Investigate/fix  the NaN issues in the perceptron example

[2017-12-20 18:06] luizgh opened #5 "Choose a project name"
The current name (pythonds) is not very good: it has "python" on the name (which is unnecessary since it is a python package). We also should avoid conflict with DES (a cryptographic method).

Other guidelines:
Should be all lowercase, no underscore (remember that people will install with "pip install <name>" and use as "import <name>", "from <name>.des import meta_des"

[2017-12-20 18:08] luizgh opened #6 "Allow other KNN implementations in the DS base class"
Allow other KNN implementations (such as KNN-Equality KNNE, the FAISS implementation of KNN)

[2017-12-20 18:09] luizgh opened #7 "Refactor DS base class: remove aggregation functions"
Allow other aggregation functions to be used (other than majority voting)

This can be done by considering aggregation functions that take as argument:
1) a (selected) pool of classifiers
2) the competence of classifiers
3) the query

The DES methods would first filter the pool of classifiers (therefore no need to inform the indices as argument, the aggregation function uses all classifiers that w

[2017-12-20 18:12] luizgh opened #8 "DS base: predicting probabilities when all classifiers agree"
When all classifiers agree on the prediction, the current code is using the prediction of the first classifier in the pool. This is ok for a class prediction, but for a probabilitic prediction (predict_proba), a better way should be defined.

[2017-12-20 18:15] luizgh opened #9 "DES_KNN: optimize "estimate_competence" (process only half of the symmetric matrix)"

[2017-12-20 18:16] luizgh opened #10 "Implement weighted versions of the DES algorithms"

[2017-12-20 18:18] luizgh opened #11 "Implement tests for DS base class"

[2017-12-20 18:18] luizgh opened #12 "Implement tests for DES base class"

[2017-12-20 18:18] luizgh opened #13 "Implement tests for DES subclasses"

[2017-12-20 18:19] luizgh opened #14 "Implement tests for DCS subclasses"

[2017-12-20 18:21] luizgh opened #15 "Documentation: write an overview of the package / methods"

[2017-12-20 20:53] luizgh opened #16 "Add documentation for static and util modules"

[2017-12-20 20:54] luizgh opened #17 "Implement tests for util functions"

[2017-12-20 20:54] luizgh opened #18 "Implement tests for static combination"

[2017-12-20 20:57] luizgh opened #19 "Consolidate predict_proba and predict_proba_ensemble"

[2017-12-20 21:42] Menelau opened #20 "Fix a bug with the ccprmod function (giving NaN)."
The ccprmod function (pythonds.util.probabilistic) is returning NaN when the probabilities estimates obtained by any class is very close to 1 or 0

ex1: supports = [1.0, 0.0 0.0], idx_correct_label = [0] is returning NaN while it should return 1
ex2: supports = [1.0, 0.0 0.0], idx_correct_label = [1] is returning NaN while it should return 0

The function should have the same behavior as the Matla

[2017-12-20 23:17] Menelau opened #21 "Discretization of continues meta-feature for the META-DES framework"
The META-DES framework achieved best results when using a Naive Bayes as the meta-classifier.

In the original implementation, the continuous meta-features (f2, f3, and f5) were automatically discretized by the Naive Bayes classifier from the Matlab PRTOOLs (naivebc). 10 bins were used by default.

Since scikit-learn implementation does not apply a discretization routine automatically, the library

[2017-12-29 16:00] luizgh opened #23 "DES_Clustering: optimize "estimate_competence" (process only half of the symmetric matrix)"
Similar to issue #9. The diversity matrix can be calculated using half of the computation.

[2017-12-29 19:02] #9 closed, assigned to luizgh

[2017-12-29 19:07] #14 closed, assigned to Menelau

[2017-12-29 21:19] #20 closed, assigned to luizgh

[2017-12-30 21:38] #18 closed, assigned to Menelau

[2017-12-30 21:38] #17 closed, assigned to Menelau

[2017-12-31 02:22] #16 closed, assigned to Menelau

[2017-12-31 21:48] #12 closed, assigned to nobody

[2017-12-31 22:55] #4 closed, assigned to nobody

[2018-01-03 23:12] #7 closed, assigned to nobody

[2018-01-03 23:12] #8 closed, assigned to nobody

[2018-01-03 23:12] #10 closed, assigned to nobody

[2018-01-03 23:12] #19 closed, assigned to nobody

[2018-01-06 00:30] #11 closed, assigned to nobody

[2018-01-10 02:40] #23 closed, assigned to nobody

[2018-01-10 02:40] #13 closed, assigned to Menelau

[2018-01-12 04:50] #21 closed, assigned to nobody

[2018-01-18 19:13] #15 closed, assigned to Menelau

[2018-01-31 21:09] #5 closed

[2018-02-05 18:19] luizgh opened #39 "Implement label encoding"
Currently, the y values for the dataset are expected to be numeric, starting from 0 and with no gaps. Using it with other labels (e.g. -1 and +1) is not working. This can be addressed using sklearn's label encoder:

http://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.LabelEncoder.html

[2018-02-17 17:13] alzami1986 opened #40 "installation works at ubuntu but failed at windows 10"
hello, I am trying to install through pip install git+https://github.com/Menelau/DESlib but it failed.
the error traceback as follows:

(python35) C:\Users\alzami>pip install git+https://github.com/Menelau/DESlib.git
Collecting git+https://github.com/Menelau/DESlib.git
Cloning https://github.com/Menelau/DESlib.git to c:\users\alzami\appdata\local\temp\pip-bduwwk_u-build
Complete output from comman

[2018-02-18 00:07] Menelau commented on #40
Hello,

I believe it was a problem reading a file with a different encoding. I changed the configuration of setup.py and tested the installation on Windows 10. It should work now

[2018-02-18 08:19] alzami1986 commented on #40
it works, thank you

[2018-02-18 08:19] #40 closed

[2018-02-27 18:50] luizgh opened #42 "Implement predictions in batch"
Implement "predict" and "predict_proba" to work in batches.
Core ideas:

Update the base:

- calculate and store a "predict_matrix"
- calculate a vectorized "all_agree"
- populate the classes for samples were all base classifiers agree
- call the "classify_instance" using the samples that still need DS

[2018-02-27 18:56] luizgh opened #43 "Improve documentation"
Add user guide; tutorials. Fix documentation for subclasses (review duplicated comments/add math formulas when necessary).

[2018-02-27 19:01] luizgh opened #44 "Remove requirement for "predict_proba" on base classifiers when it is not needed"
When predict_proba is not needed (e.g. only "predict" is being called on the DS method), remove the requirement to have predict_proba on the base classifiers.

[2018-03-02 19:08] luizgh commented on #39
I have started implementing it (cfc32c00be7eed44c433db3c7f0854141cafd02f). The core idea is to use the sklearn's label encoder: saving the indices (enc.transform(y)) and the original class names (enc.classes_). Right now, it is working with classes from the "DSEL" dataset that are encoded (e.g. classes described as strings).

However, since we don't control de creation of the base classifiers, eac

[2018-03-03 00:17] Menelau commented on #39
@luizgh I agree with you. It is not intuitive introducing new class variables on the predict method and since the predict method may be called several times during the program execution (for classifying different blocks of data) it can introduce errors.

 I believe the best option is to calculate this matrix, and pass it as an argument to the classify_instance method.

[2018-03-05 19:22] luizgh commented on #39
Most of the functionality has been implemented in 9fec8ac739fde2d71fb85c87188edeb1562be02e.
Pending:

From the DS base "predict" method:
Pass predictions to classify_instance
Pass predictions to estimate_competence

In particular, the DCS and DES algorithms should not be calling "predict" on the base classifiers, but rather use the predictions passed from the DS "predict" method

[2018-03-07 02:04] #44 closed

[2018-03-08 00:14] Menelau commented on #43
Fixed in commit 1934bb0477a985b6bdacdb1bc4e351187410b20f

[2018-03-08 00:14] #43 closed

[2018-03-08 23:47] Menelau commented on #39
I started working on passing the pre-computed predictions to the classify_instance and estimate_competence methods.

The problem with the estimate_competence is that only a few DS techniques require the prediction information for the competence estimation (LCA, MLA, A Posteriori, MCB, KNOP and META-DES). So we cannot force the same method signature for all DS classes as in the previous version

[2018-03-13 18:46] Menelau commented on #39
I've changed the code to pass the classifier's predictions for the classify_instance and estimate_competence methods and update the test routines (commit 6efa75afeba02f9b4bd55c036083c2ebf18cf286). I believe now the label encoder now is working fine.

For now, the estimate_competence of all DS classes are receiving the base prediction even though they do not need it. It may not be the best solution

[2018-03-13 20:15] luizgh commented on #39
Everything seems to be working now. The last pending item is to document this on a "developer's guide". In particular, it should be mentioned that sklearn's ensembles work differently than a list of classifiers (the base classifiers in sklearn return encoded labels in their "predict" functions).

[2018-03-13 20:44] Menelau opened #48 "Include a developer's guide section in the documentation"
Add a section in the documentation containing all information for development:

- Guidelines for contributing
- How to add a DS method/class
- Specific details about implementation like Label encoders

[2018-03-13 21:11] #39 closed

[2018-03-24 23:18] Menelau opened #52 "Change dsel_scores matrix shape"
Currently, the matrix containing the pre-processed scores for each training sample is encoded as a 2D matrix of shape [n_samples, n_classifiers * n_classes]. It can be reshaped as a 3D array [n_samples, n_classifiers, n_classes] in order to make easier to index the predicted scores of a given classifier as well as for the calculation of competence level in batch (issue #42).

[2018-03-26 03:27] #52 closed

[2018-04-03 17:44] luizgh opened #54 "KNOP - separate two DSEL fits: knn on features and OP"
KNOP: this method uses Output Profiles to estimate the classifier competences. However, if IH or DFP are used, we also need the neighborhood in feature space. Solution: Keep "fit_region_competence" as KNN in feature space (change the name accordingly). Add a new "fit_op" as in Meta-DES.

[2018-04-03 17:44] luizgh opened #55 "Refactor predict_proba"
Create integration tests with predict_proba
Run predict_proba on batches.
On "predict", pass the probabilities to Meta-DES and KNOP

[2018-04-03 17:46] luizgh opened #56 "Create new integration tests with IH, IH and DFP"
DFP: create tests with 100 classifiers; use perceptron instead of RF

[2018-04-03 17:46] luizgh opened #57 "DES_clustering - batch processing"

[2018-04-03 18:10] luizgh opened #58 "DESKNN - remodel competence matrix"
DESKNN: Error: returning dictionary instead of matrix (accuracy + diversity) - need to remodel

[2018-04-03 18:18] luizgh opened #59 "META-DES different results if running only its integration test vs running all tests"
META-DES different results if running only this test vs running all tests: 0.9121212121212121, 0.8909090909090909

[2018-04-03 18:24] luizgh opened #60 "Batch processing on "util" probabilistic functions"

[2018-04-03 18:37] luizgh opened #61 "Investigate issues with DFP mask in batch processing"
DFP mask in batch processing is different than previous results. Investigate

[2018-04-03 18:45] #42 closed

[2018-04-06 05:13] Menelau commented on #61
The difference in performance is not due to the DFP mask, it is caused by the changes in the majority voting function. Since in this version the majority voting is receiving a masked array as input votes (where the votes of incompetent classifiers are masked) it was changed from the masked version (scipy.mstats.mode). This function handles an equal number of votes differently than the scipy.stats.

[2018-04-06 05:13] #61 closed

[2018-04-06 19:14] luizgh commented on #55
@Menelau - I implemented most of the functionality on commit adfcd7c21f3f2fc6077eb00abf4887cd2d567880. There are still some tests failing on test_integration_dfp, that I did not have time to check.

By the way, I noticed that there were no integration tests using the "weighting" or "hybrid" approaches (only "selection"), so we still need to test those features. In particular, I needed to refactor

[2018-04-06 19:57] Menelau commented on #55
@luizgh Ok I will check that,

About the other integration tests, there are some using the "weighting" mode since the KNORA-U and KNOP are based on this mode (they only use the weighted version). For the hybrid yes we need to include a few tests also considering this mode.

For the "predict_proba_weighted" I can confirm that with some examples that I have from the textbook "Combining pattern class

[2018-04-06 20:30] luizgh commented on #55
Yes, it is passing all unit tests. There are no tests on test_aggregation for this function (predict_proba_ensemble_weighted), but I noticed that the function is being tested on the DES/test_base (test_predict_proba_weighting, test_predict_proba_hybrid)

[2018-04-06 21:07] luizgh commented on #55
@Menelau I found one of the issues with the DFP tests with proba (I had forgot to apply the DFP mask, now that it is no longer done in the "estimate_competences" method.

I fixed that, but I am still seeing errors. For example, the test for DESP is failing ( test_desp_proba in the file test_integration_dfp.py). I noticed that for example 6, the estimation of the competences is different between th

[2018-04-06 21:47] Menelau commented on #55
Are you sure you are seeing the same entries of the array? It may be confusing due to how the indices are managed in the new version. The DFP mask should be the same for all DS methods in this same problem (for the predict and predict_proba). I will check the new commits you made in the batch_proba branch for the predict proba method, however comparing the DFP mask for the DES-P method (old and ne

[2018-04-07 02:48] Menelau commented on #55
@luizgh Found the error, the expected values were wrong due to an error with the competence estimation in the previous version of the code that was used to generate the expected values!. Found that since both the matrix with estimated competence and the DFP mask was a bit different between the predict and predict_proba methods (which should always be exactly the same).  I've updated the expected v

[2018-04-07 12:01] luizgh commented on #55
Thanks for investigating the error. Indeed all tests (related to predict_proba) are passing now. I will close this issue.

[2018-04-07 12:01] #55 closed

[2018-04-09 16:25] #58 closed

[2018-04-09 16:26] #57 closed

[2018-04-09 16:27] luizgh opened #62 "DES Clustering - implement Instance Hardness"
The current implementation of DES Clustering does not implement instance hardness (since it would require fitting another KNN).

[2018-04-13 20:36] luizgh opened #64 "Fix documentation - new method names"
Update documentation to reflect the new method names, in particular "estimate_competences_from_proba"

[2018-04-16 05:29] #56 closed

[2018-04-24 19:31] luizgh opened #69 "Refactor class variables: neighbors, distances, DFP_mask"
These variables should be passed as parameters as necessary in the prediction phase

[2018-04-24 19:32] luizgh opened #70 "Refactor predict and predict_proba"
Refactor predict and predict_proba to do only the "high-level" work: separate 1) which instances have all classifiers agreeing; 2) instances that are classified with KNN (if using IH), 3) instances using DS

[2018-04-24 19:34] luizgh opened #71 "Batch processing for "compute pairwise diversity""

[2018-04-24 19:34] luizgh opened #72 "Batch processing weighted majority voting"

[2018-05-22 22:43] waldnerf opened #73 "Add example with different training sets and feature set"
Hi,
First, let me thank you for the good job you did with developing the library!
Cruz et al. (2018) list six ways to generate classifiers, and two of them are the use of different **training sets** and **feature sets**.  Does the current implementation of DESlib allow that? Could you add such an example in the documentation?
Thanks,
Franz

[2018-05-23 05:55] Menelau commented on #73
Hi,

The current implementation of DESlib allows the use of different training sets (in the case each base classifier can be trained with a different partition of the data that could either be totally disjoint or not).

Unfortunately, the current version of the library does not allow base classifiers trained with different **feature sets**. That would require changing the estimate_competence (most

[2018-05-28 12:04] waldnerf commented on #73
Hi
Thanks for your reply.
Looking forward to the new examples and functionalities.

[2018-06-12 04:21] alzami1986 opened #74 "ValueError: Expected 2D array, got 1D array instead:array=[]."
Hello, we found error regarding the METADES implementation, the error as follows:
Traceback (most recent call last):
  File "/home/miner/anaconda2/envs/python35/lib/python3.5/site-packages/deslib/des/meta_des.py", line 132, in fit
    check_is_fitted(self.meta_classifier, "classes_")
  File "/home/miner/anaconda2/envs/python35/lib/python3.5/site-packages/sklearn/utils/validation.py", line 768, in

[2018-06-13 16:04] Menelau commented on #74
Hello,

By the error message, it seems that the meta-training dataset being passed for the training of the meta-classifier is an empty array. So that means no meta-feature vectors are being generated in the meta-training process. This could happen if the majority of base classifiers (if not all) always produces the same labels for the training data. Which are the value of the hyper-parameter Hc an

[2018-06-13 17:11] alzami1986 commented on #74
Hello, thank you for the response. In here, I am using this configuration:
# start the model
my_clf = DecisionTreeClassifier()

model            = CalibratedClassifierCV(my_clf,cv=N_CV)
pool_classifiers = BaggingClassifier(model,n_estimators=N_estimator)
pool_classifiers.fit(X_train_des,y_train_des)

# initialize the DES technique
meta   = METADES(pool_classifiers, Hc=0.8)

# fit the DES tehcnique

[2018-06-15 01:47] Menelau commented on #74
Hi,
Can you try changing the value of Hc to either 0.9 or .01, to confirm the problem is really with the sample selection mechanism discarding all meta training examples due to the base classifiers agreeing with the same output?

[2018-06-15 07:45] alzami1986 commented on #74
Hello,

alright, please wait a while

[2018-08-07 08:48] yikayiyo opened #77 "ValueError: shapes (110,17) and (21,2) not aligned: 17 (dim 1) != 21 (dim 0)"
Windows-10-10.0.17134-SP0
Python 3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 16:32:41) [MSC v.1900 64 bit (AMD64)]
NumPy 1.14.5
SciPy 1.1.0
Scikit-Learn 0.19.1

it seems like k=7(defalut) works well.
only using METADES can't I change k .
hope this info can be helpful.
[code]

[2018-08-07 08:51] yikayiyo commented on #77
code from here
https://github.com/Menelau/DESlib/blob/master/docs/user_guide/tutorial.rst

[2018-08-08 16:29] Menelau commented on #77
Hello,

That is strange, I tried changing the value of k and running the code from the tutorial and it worked fine for me in the latest release (version 0.2) as well as the master branch. Can you check if you are using the latest version of the library?

Also, can you try running the script **example_random_forest.py** from the examples folder to see if you have the same problem? This example also

[2018-08-09 01:38] yikayiyo commented on #77
It worked  fine from the terminal.
To work properly when using jupyter notebook, I restart kernel before i change k.
It works : )

[2018-08-09 01:38] #77 closed

[2018-08-13 21:54] Menelau opened #78 "Create unittests for DES-MI technique"
Create unit tests for The DES Multi class imbalance (DES-MI) technique commit: ce806a7

Tests should follow the description and examples from:

[1] "García, S.; Zhang, Z.-L.; Altalhi, A.; Alshomrani, S. & Herrera, F. "Dynamic ensemble selection for multi-class imbalanced datasets." Information Sciences, 2018, 445-446, 22 - 37".

[2018-08-16 02:42] Menelau commented on #59
Fixed in commit 673d535

This problem was due to the method used to check if the meta-classifier was already trained.

When running all tests together, the second time the META-DES was called (by a different test script) the previous verification routine was considering that the meta-classifier was already trained when in fact it was not and was skipping the meta-training routine. That was the rea

[2018-08-16 02:42] #59 closed

[2018-08-16 02:45] #78 closed

[2018-09-11 01:54] luizgh opened #84 "Create check_estimator tests"
Setup tests for all methods using sklearn.utils.estimator_checks.check_estimator. Tests should be setup on the test file for each class.

[2018-09-11 01:55] luizgh opened #85 "Move documentation to gh_pages branch; setup CircleCI"
Move documentation to the branch "gh_pages", so that it can be integrated in scikit-learn's documentation. Setup CircleCI (integration tool that compile the documentation and push to GitHub pages)

[2018-09-14 20:15] luizgh opened #86 "Accept creation of classifiers with no parameters: train base classifiers on .fit()"
Define: default base classifiers, base dataset split pct

On the base method fit:
- Split dataset into train and DSEL
- Fit base classifiers
- Continue the rest (fit the data for DS)

[2018-09-14 20:31] luizgh opened #87 "Create check_estimator tests in all classes"

[2018-09-14 20:32] luizgh opened #88 "A posteriori / a priori: investigate problems with rng"
Since these methods use rng during test, they are failing the check_estimator.

[2018-09-14 20:42] luizgh opened #89 "Base classifiers: clone should deep copy the pool of classifiers"
check_estimator is failing for instances, since during clone the pool of classifiers are not being properly copied.
Need to investigate how this problem is addressed in sklearn (e.g. on sklearn.ensembles)

[2018-09-14 20:49] luizgh opened #90 "Check estimators with instances: include on unit tests"
Mocks need not to have the "get_params" method to be deep copied. An alternative is to actually have a classifier during the test

[2018-09-14 21:00] luizgh commented on #87
Duplicate from #84

[2018-09-14 21:00] #87 closed

[2018-09-16 14:10] luizgh commented on #90
I did some work on this, and realized that these tests will not work on instances of the DS classes that are constructed **receiving a pool of classifiers**. The base classifiers will have been fit already for a specific number of classes, while the checks will "fit" the DS classifier with another number of classes.

In other words, in all sklearn classifiers, the "fit" method is when the classifi

[2018-09-16 14:13] luizgh commented on #90
Here is a test that triggers this scenario:

[code]

[2018-09-18 04:06] Menelau commented on #90
@luizgh I agree, we should close this issue. Since it will just apply the same test there is no need to create more or change the whole way the library works just for that. In my opinion, having the pool of classifiers fitted before passing it to the DS methods is better, because usually, we want to evaluate the same pool on several DS methods (as well as static combination). So always fitting ins

[2018-09-18 04:13] Menelau commented on #84
@luizgh Great! About these problems with META-DES I believe the problem is due to the number of examples used in the test routine (the size of the training dataset is lower than the number of neighbors). That catches a very specific problem in this code.

About the static combination methods, we need to change them to the same format as the other DS methods (fit the ensemble inside if not informed

[2018-09-18 10:54] luizgh commented on #90
Ok, thanks for confirming. I will close the issue

[2018-09-18 10:54] #90 closed

[2018-09-18 11:36] luizgh commented on #84
I updated the check_estimator to run on the subclasses of Probabilistic. It worked for most of them, but failed for "MinimumDifference" in a corner case where all training points are from only one of the classes. I think this needs to be handled in the code, so I will create a new issue for it. I will also create a new issue to investigate the META-DES problem, and update issue #86 to remember to

[2018-09-18 11:36] luizgh commented on #86
Note: this should also be implemented for the "static" methods, for consistency.

[2018-09-18 11:39] luizgh opened #91 "probabilistic.MinimumDifference: handle cases where only samples from a single class are provided"
The method probabilistic.MinimumDifference is failing a check_estimator test, where the "y" for training (fit) contains only data from one class. This case should be handled by the method (i.e. always predict this class for future examples)

[2018-09-18 11:41] luizgh opened #92 "metaDES - handle case where n_examples < k"
metaDES is failing a check_estimator test when the number of training examples is smaller than 'k' (estimator_checks:1538, test "check_estimators_data_not_an_array")

[2018-09-18 11:42] #84 closed

[2018-09-18 11:43] luizgh commented on #84
created issues #91 and #92

[2018-09-18 11:54] luizgh opened #93 "base DS: replace print with warning"
Add a warning when K is bigger than DSEL size, instead of a print statement (this is the only print command in the library). Need to check what is the sklearn's way of showing warnings

print("Warning k is bigger than DSEL size. Using All DSEL examples for competence estimation.")

[2018-09-18 11:55] luizgh commented on #93
We should also add an "ignorewarnings" for this warning on the check_estimator tests, to avoid clutter when running the tests

[2018-09-18 12:17] luizgh commented on #93
"ignore_warnings" does not seem to be working - we may need to look further into this (low priority)

[2018-09-19 17:00] luizgh commented on #89
Note: there is an issue in scikit learn that proposes a "Freeze" mechanism for estimators, that could address this issue: https://github.com/scikit-learn/scikit-learn/issues/8370

[2018-09-19 21:01] luizgh commented on #6
(being implemented in https://github.com/Natlem/DESlib/tree/faiss_integration)

[2018-09-20 12:19] luizgh commented on #6
We are planing on implementing this feature in a way that the caller can use any KNN function they want. Something like this:

[code]

Then in the ```fit_region_competence``` method, we would simply use the chosen class:

[code]

This would make it easy for the user to use the most common cases (knn, fast_knn by faiss), while being flexible to allow any other method.

About KNN-E, if we already ha

[2018-09-20 14:43] Natlem commented on #6
There's also FAISS K-MEANS for des-clustering

[2018-09-20 20:04] Menelau commented on #89
@luizgh Yes, looks like freezing mechanism could address this issue (and can also be beneficial to other ensemble/meta-estimators methods). For what I check there were other ensemble libraries with the same problem.

Let's check them if that would be the best solution to our problem, if yes we will need to wait for the integration of the freezing mechanism on sklearn in order to address this issue

[2018-09-21 00:08] Menelau opened #96 "Create unit tests for the Online Local Pool (OLP) technique"
Create unit tests for The Online Local Pool technique.

Tests can be inspired by the examples presented in:

Souza, M. A., Cavalcanti, G. D., Cruz, R. M., & Sabourin, R. (2019). Online local pool generation for dynamic classifier selection. Pattern Recognition, 85, 132-148.

[2018-09-21 00:23] Menelau opened #97 "Create unit tests for the Self-Generating Hyperplanes (SGH) method"
Tests can be based on the step by step example in the original paper:

Souza, M. A., Cavalcanti, G. D., Cruz, R. M., & Sabourin, R. (2017, May). On the characterization of the oracle for dynamic classifier selection. In Neural Networks (IJCNN), 2017 International Joint Conference on (pp. 332-339). IEEE.

[2018-09-21 12:32] luizgh commented on #89
Agreed. For now I will just update the documentation to add a "known issue" that these estimators do not work with GridSearch  / CV methods. I will also remove this github issue from the 0.3 milestone.

Do you have a suggestion on where to add this "Known issues" section? I was thinking that the best is to create a new section on the User guide (https://deslib.readthedocs.io/en/latest/user_guide.h

[2018-09-21 13:08] luizgh commented on #91
The issue happens on this line: https://github.com/Menelau/DESlib/blob/master/deslib/util/prob_functions.py#L231

The problem is that when "y" has only one class, the "predict_proba" will have a single column. In this case "support_others" is an empty list. A possible solution is to address this corner case by setting "support_others" to be a matrix of zeros.

@Menelau can you please double check?

[2018-09-21 13:22] luizgh commented on #93
Closing this issue. The warnings cannot be filtered in the test, because  "check_estimator" sets the warnings to "always" show.

[2018-09-21 13:22] #93 closed

[2018-09-21 13:28] #91 closed

[2018-09-21 14:54] luizgh opened #98 "Add support for python 3.7"
Update Travis configuration to test for 3.7;
Update setup and documentation to refer that this version is also supported

[2018-09-21 19:13] luizgh commented on #85
Similarly to the "imbalanced-learn" repository, I created a branch called gh_pages that redirects to the deslib readthedocs webpage.

This way we can continue to use readthedocs, and the contrib documentation should re-direct the user to the appropriate webpage. For example, http://contrib.scikit-learn.org/imbalanced-learn/ redirects to https://imbalanced-learn.readthedocs.io/en/stable/, as define

[2018-09-21 19:13] #85 closed

[2018-09-21 19:15] luizgh commented on #89
Waiting on the resolution of scikit-learn/scikit-learn#8370

[2018-09-23 02:55] Menelau commented on #92
Fixed on commit 019d363

[2018-09-23 02:55] #92 closed

[2018-09-23 03:27] #88 closed

[2018-09-24 14:36] luizgh opened #99 "FAISS documentation and unit tests"
Add documentation for  FAISS (including installation instruction);
Create unit test for ImportError when FAISS is not installed.

[2018-09-24 14:57] luizgh opened #100 "FAISS performance test"
Create performance test for the FAISS vs KNN method.

[2018-09-24 14:59] luizgh commented on #6
https://github.com/Menelau/DESlib/pull/94 implemented it for the base class, but there are classes that fit a KNN on the output profiles (e.g. META-DES, KNOP). These should also use the KNN method that was selected by the user.

[2018-09-24 18:19] Natlem commented on #100
A small problem with the test.
It turns out that faiss_knn does not output the same predictions as KNeighborClassifier.
If we compare to groundtruth, the faiss_knn performs worse. Any idea is welcom

[2018-09-25 03:53] Menelau opened #101 "Batch processing for Online Local Pool (olp.py)"
This implementation should be updated to batch processing in order to have a much faster method, and follow the same structure and method signature of DESlib ver 0.2+

[2018-09-25 03:55] Menelau commented on #97
Implemented in commit #d498a810a5fc96731196ec1b626a254b13fea2f4

[2018-09-25 03:55] #97 closed

[2018-09-25 13:51] Natlem commented on #100
Added in https://github.com/Menelau/DESlib/pull/102

[2018-09-25 13:51] Natlem commented on #99
Added in https://github.com/Menelau/DESlib/pull/102

[2018-09-25 13:52] Natlem commented on #6
Fixed in https://github.com/Menelau/DESlib/pull/102

[2018-09-25 17:22] #6 closed, assigned to Natlem

[2018-09-25 17:27] luizgh opened #103 "Batch processing for FaissKNNClassifier kneighbors method"

[2018-09-28 16:56] luizgh opened #104 "Fix check_estimators issues on scikit-learn 0.20"
Check_estimators fail on scikit-learn 0.20. Some of the problems will be solved by #69. When this is fixed we should change the tests to use the newest version of scikit-learn (update the requirements files)

[2018-09-28 17:17] luizgh commented on #98
having issues with sklearn 0.19 and python 3.7. We should wait #104 to be closed before re-adding python 3.7 on the tests

[2018-09-28 17:17] luizgh opened #105 "Update documentation for v0.3"
In particular, note that the pool of classifiers is optional (if not informed, will be fit inside the DS's fit method)

[2018-09-29 18:57] Menelau commented on #69
solved on 2dd243ed54397d81e446ddaadc1cbacddb45c579

[2018-09-29 18:57] #69 closed

[2018-09-29 20:35] #104 closed

[2018-10-01 11:47] #98 closed

[2018-10-02 13:38] luizgh opened #111 "Lazy-initiallize FAISS"
FAISS KNN Wrapper: lazy initialize faiss, so that this file can always be imported  (e.g. for building docs)

[2018-10-03 04:36] #62 closed

[2018-10-04 15:12] luizgh opened #114 "Instance Hardness - emit warning if IH_rate is large than the maximum value"
@Menelau, Victor raised an interesting comment about how IH is calculated, and I think it may be interesting to warn the user in some scenarios.

In summary, the way that IH is calculated it has a maximum value lower than 1 (since we are using the mode of the predictions of the safe neighborhood instead of the true class). In particular, when the samples in the safe neighborhood are equally distri

[2018-10-04 18:19] Menelau commented on #114
That is a very good point, we need to handle this case, and also have in the documentation of the IH function its range.

Btw, that would be a very nice issue to work as first contribution if Victor wants to start contributing to the library.

[2018-10-11 10:53] luizgh commented on #86
@Menelau, while reformating the code for the base DS class, I noticed that the parameter "self.DSEL_perc" is not being used, and rather the pool of classifiers if fitted with the whole dataset (the same one that is then used for DSEL). It seems that we still need to implement the division of the dataset between training and DSEL for this case

[2018-10-19 02:50] impredicative opened #122 "Link to Arxiv"
There is a mention of your Arxiv paper in the readme, but I don't see a link to it. Can you please add a hyperlink to it for its name? For reference, the link I have is https://arxiv.org/abs/1802.04967

[2018-10-19 17:17] #122 closed

[2018-10-19 17:22] Menelau commented on #122
Hi, thanks for the comment. I've just updated the readme with the link to the publication on its name.

[2018-10-19 19:03] victorlorena commented on #114
@Menelau Why the IH_rate value cannot be greater than 0.5?

For example, for a 3-class classification problem, and safe_k = 9, we can have a neighborhood with four instances from class 0, three instances from class 1 and two instances from class 2. In this case, we have IH = (9 - 4)/9 = 0.555...

[2018-10-19 23:01] Menelau commented on #114
@victorlorena You are right, it is possible to be greater than 0.5 (0.5 would be the limit for one specific scenario). The highest value changes according to the number of classes & k value used.
So we need to take into account these two values.

This value is also specific to this specific measure of IH.

[2018-10-26 11:15] ngoix opened #126 "plot_random_forest: test data leakage in DSR train set"
I think
[code]
should be

[code]

[2018-10-26 17:50] luizgh commented on #126
Thanks for spotting this issue. Fixing it in 39b4da31f1ab5b788a2ae6eb2a4795e686148b5b

[2018-11-04 17:05] #114 closed

[2018-11-07 13:17] luizgh commented on #126
Fixed in #127

[2018-11-07 13:17] #126 closed

[2018-11-13 04:54] Natlem commented on #100
https://github.com/Menelau/DESlib/pull/128

[2019-01-12 03:34] zahidcseku opened #130 "Cannot get the number of selected classifiers by a DES algorithm"
Hello good people
I have been trying to get the number of classifiers selected by a DES algorithm. But I could not figure out how this can be achieved. I think it would a nice and useful feature to have.

Cheers
Zahid

[2019-01-13 20:38] PhilipMay opened #132 "ImportError: cannot import name 'StackedClassifier'"
Here is an error in the example:

https://github.com/scikit-learn-contrib/DESlib/blob/0c8bf1f6a19b4fadaf1d6e028becc523047f3b55/examples/example_heterogeneous.py#L33

It throws:

[code]

[2019-01-13 21:38] Menelau commented on #132
Hello,

Did you install the stable version (pip install deslib) or the latest version (pip install git+https://github.com/scikit-learn-contrib/DESlib) of the library? The StackedClassifier class is only available on the latest version. This class will be released on the pipy package in the release 0.3 of the library that will come out soon.

[2019-01-14 18:44] PhilipMay opened #133 "Why do you use .predict instead of .predict_proba at .fit?"
Hi,
I saw that your DES implementations (KNORAU, KNORAE and DESP) are using ` .predict` of the `pool_classifiers`. But ` .predict` is only returning 0 or 1 at a binary classifier.

Why dont you call `.predict_proba` to get probabilities and work with them?

I mean with "normal" voting ensembles hard voting is not as good as soft voting.
Isnt that the same case here? Would it lead to a besser resul

[2019-01-14 20:01] PhilipMay opened #134 "Forgot scaling in example"
Hi,
in this example here:
https://deslib.readthedocs.io/en/latest/auto_examples/example_heterogeneous.html

You forgot to scale the data.

You say here:
https://deslib.readthedocs.io/en/latest/user_guide/tutorial.html#preparing-the-dataset

Also see here:
https://github.com/scikit-learn/scikit-learn/issues/12982

Thanks
Philip

[2019-01-15 00:49] #134 closed

[2019-01-15 01:02] Menelau commented on #134
@PhilipMay You are right, we forgot about normalizing the data. Thanks for pointing out this error!

 I just fixed it on PR #135

[2019-01-15 02:31] Menelau commented on #133
@PhilipMay Hi,

Yes, 'soft' voting is usually better than 'hard' voting. So far we have only considered hard voting (majority voting) just as a matter of simplicity. However, now that the library is becoming more mature, we have plans to allow other combination methods based on probability estimates in the next releases.

 In fact, we already implemented, on the `utils. aggregation` module, some u

[2019-01-15 20:41] PhilipMay commented on #132
Ahh ok.
I thought the documentation on readthedocs.io would refer to the latest release and not the current development branch.

Thanks for the answer though.

[2019-01-23 01:52] Menelau commented on #103
@luizgh Do you know what is the problem exactly with the `kneighbors` method? For what I check it seems to be ok.

Other methods in the class (ex `predict_proba`) were still working with a `for` loop inside. However, I just changed that in commit: d524553907c8507789dcdaae816792beeaecb9d2

[2019-01-23 02:12] Natlem commented on #103
That for loop was the problem.

--
Thanh

[2019-01-24 00:28] Menelau opened #140 "Allow approximate NN searchs on the FaissKNNClassifier class"
The current FaissKNNClassifier class only perform brute force search. The class should also allow approximate methods in order to speed up inference time on large datasets.

More info about approximate search on faiss can be found in the following links: https://github.com/facebookresearch/faiss/wiki/Getting-started and https://github.com/facebookresearch/faiss/wiki/Faster-search

[2019-01-24 15:40] #103 closed

[2019-02-16 05:37] #105 closed

[2019-02-17 23:34] #86 closed

[2019-02-18 13:49] luizgh opened #143 "Improve default base classifiers"
By default, if the pool of classifiers is not informed in the constructor of the DS methods, a Bagging Classifier (with 10 decision trees) is used to generate the pool. However, better methods can be used as default, in particular Self-generating Hyperplanes (SGH) : https://www.sciencedirect.com/science/article/pii/S0031320318302802

[2019-02-19 18:10] Natlem commented on #140
I think we should do a comparison first before actually implementing it right ? Since, there's no point in adding it if it does not improve the speed

[2019-02-19 22:54] polidore opened #147 "META-DES.o"
Is it possible to get the behavior in this paper using your META-DES and pyswarms:

https://arxiv.org/pdf/1811.00217.pdf

Thanks

[2019-02-20 01:56] Menelau commented on #147
Hello,

I checked pyswarms library and although they do not offer the same BPSO implementation (with the custom V and S-shaped transfer functions)  used in the article. However, it could be used as backend and customized in order to have the same implementation as in the paper.

One important thing is, the DESlib implementation of META-DES only using the five sets of meta-features that was defined

[2019-02-20 13:29] luizgh commented on #130
@Menelau - here are some ideas for this issue

As you mentioned:
* This information is available in the "classify_with_ds" and "predict_proba_with_ds" functions of both BaseDES and BaseDCS
* These functions are called in the "predict" and "predict_proba" of BaseDS

Alternatives:
1) Add an argument in "predict" and "predict_proba": "return_selected_classifiers", which would cause the methods to ret

[2019-02-20 15:18] Menelau commented on #130
Well I also think option 1 is better. Do you if there is any other estimator on scikit-learn that can return more than one value?

[2019-02-20 20:16] luizgh commented on #130
I did a search for "return_" in the sklearn code base, and it seems that this strategy is used in a lot of cases. For instance, the KNN method "kneighbors" has a "return_distances" argument, that changes what is returned (just the indices, or also the distances).  https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.NearestNeighbors.html#sklearn.neighbors.NearestNeighbors.kneighbors

[2019-02-20 20:26] Menelau commented on #130
Great! One think to think about is when the DS mechanism is not used to classify a certain example (either all classifiers agree or it is being classified by the KNN method).

So in these cases maybe we should have an special marker indicating that the DS mechanism was not used for this example.

[2019-02-20 20:41] luizgh commented on #130
That complicates things a little bit. Some ideas:

1) return "used_ds" and "selected_classifiers", where "used_ds" is a vector of [n_examples]
2) return only one "selected_classifiers" variable, but use a list of lists. In this case, for the examples that did not use DS we can return an empty list.

Both options may be misused: For (1), if someone counts the average number of classifiers in select

[2019-04-02 23:42] raniel90 opened #150 "Run DESlib on Python 2.x.x"
DESlib requires Python '>=3' but the running Python is 2.7.15

I need to run my project on Python 2.7.15. How can i install this lib in this python version?

[2019-04-03 13:31] luizgh commented on #150
Hi @raniel90. The DESlib library requires Python 3, so you would need to migrate your code to Py3 (tools such as 2to3 can help this: https://docs.python.org/2/library/2to3.html). Please note that numpy (that DESlib depends on) is ending its support to Python 2 (new numpy features are only available for Python 3 as of this year, and they will remove support next year: https://docs.scipy.org/doc/num

[2019-04-04 13:41] #150 closed

[2019-04-24 00:45] Menelau opened #151 "Add KNN-Equality technique for region of competence estimation"
The KNN-Equality [1] selects an equal number of examples for each class. It is a good alternative to define the region of competence for imbalanced datasets [2].

Refs:
[1] Sierra, Basilio, Elena Lazkano, Itziar Irigoien, Ekaitz Jauregi, Iñigo Mendialdua. "K nearest neighbor equality: giving equal chance all existing classes."Sciences 181, no. 23 (2011): 5158-

[2] Cruz, Rafael MO, Dayvid VR Olive

[2019-04-24 00:50] Menelau commented on #73
New examples were added in the v0.3 release.

[2019-04-24 00:50] #73 closed

[2019-04-24 00:53] Menelau commented on #89
@luizgh Do you know if there is an update on this issue?

[2019-04-24 03:34] luizgh commented on #89
@Menelau it is on the roadmap, but from the discussions in https://github.com/scikit-learn/scikit-learn/issues/8370 it seems that it may take a lot of time. They are actually proposing a workaround for pre-trained models (see https://github.com/scikit-learn/scikit-learn/issues/13288), but I am not sure if that would address our problem

[2019-06-07 02:56] AssiaBou opened #152 "Can't use Pipeline with dynamic selection methods"
when i used pipeline as a baseclassifier with dynamic classifier techniques (KNORAU, KNORAE and META-DES) I had this error "'Pipeline' Object is not iterable' what does it means"
this is my code:
pool_PMC_classifiers = BaggingClassifier(model_perceptron1, n_estimators=10, random_state=rng)
SMOTE = SMOTE(random_state=rng)
pipe = make_pipeline(SMOTE, pool_PMC_classifiers)
pipe.fit(X_train, y_train)

[2019-06-07 20:35] Menelau commented on #152
@AssiaBou Hello, I believe in this case wrapping up an ensemble method (BaggingClassifier) inside a pipeline it is viewed as a single estimator instead of a list, therefore it is not iterable.

In the case, DESLib receives as input a list of classifiers as the pool of classifiers. So instead of passing the whole pipeline as input, you can retrieve the BaggingClassifier that was trained together wi

[2019-06-15 21:16] Menelau opened #153 "Investigate problems integration tests (sklearn==0.21)"
Several integration tests are failing when using sklearn version 0.21, the results are not matching with the expected ones.

That was probably caused by the changing on the behavior of certain sklearn algorithms (see: https://scikit-learn.org/stable/whats_new.html), however, it still needs to be investigated (could also be a change on default hyperparameter).

[2019-06-15 21:32] AssiaBou commented on #152
Hello sir,
I have tried  the solution that you proposed to me and the mistake has been gone, but results before applying sampling methodes with DES techniques are better than after applying them

if you have any idea about this can you help me please

regards,
Assia

[2019-06-16 01:33] Menelau commented on #152
Well, in this case, there are two things to take into consideration:

1) The performance metric used. We found that the use of oversampling significantly improve the result with respect to the F-measure and G-mean.  We did not obtain good results with AUC.

2) We use a different methodology in order to use oversampling methods with dynamic selection. Instead of applying the oversampling method to

[2019-06-19 19:17] Natlem commented on #140
Checking up on this again, I re-read the code a bit, we can allow approximate search if we pass one of the indexes from https://github.com/facebookresearch/faiss/wiki/Faiss-indexes using the algorithm parameter of FaissKNNClassifier

[2019-06-20 02:23] Menelau commented on #140
Yes! I believe this is the best option. That would be similar to sklearn KNN which the algorithm parameter is used to select between different implementations (kdtree, ball-trees, brute...).

In this case, we need to check which approximations are relevant to add as options. For what I saw, the `IndexIVFFlat` approximation is a good candidate since it is much faster than the brute force and it doe

[2019-07-15 01:41] luccaportes opened #156 "Oracle not working properly for string classes"
When calling the Oracle's predict method, if the class is a string such as "class_1", "class_2"... The Oracle does not work properly.

For what I could discover, it is just missing one call to

`self._setup_label_encoder(y)`

Information about my working environment (I have used google collab so I can only post a link for everyone's access):

Linux-4.14.79+-x86_64-with-Ubuntu-18.04-bionic
Python 3

[2019-07-16 01:09] #156 closed

[2019-07-17 09:14] lachhebo opened #158 "Inconsistency, accuracy, Des Clustering"
I have spotted a really stange behaviour of the Des Clustering model.

When i am using this model with 5 differents estimators and a very unbalanced datasets, i get a precision and a recall equal to 0, actually, the majority class is predicted almost every time for a new observation.

I think it is caused by the fact that estimators are selectionned based on their accuracy on each cluster which le

[2019-07-19 03:50] Menelau commented on #158
@lachhebo You are right, the fact the estimators are selected according to accuracy leads to a bias towards the majority class.

It is possible to change this behavior. In fact, I believe the fix would be very simple, only requiring changing inside the method `_preprocess_clusters` to consider a metric suitable for imbalanced learning in order to rank the N best base classifiers. Maybe we could ad

[2019-08-14 03:01] Menelau commented on #158
Fixed in #161

[2019-08-14 03:01] #158 closed

[2019-08-14 03:02] #152 closed

[2019-08-14 03:06] Menelau commented on #140
@Natlem will you work on this issue?

[2019-08-14 18:10] Natlem commented on #140
Yes, but we need to decide a way to pass the argument first. We can pass some simple approximate NN searches using the algorithm parameter but some advanced approximate NN searches require other parameters (i.e IndexIVFFlat) . I was thinking we can pass them by kwargs but I don't know if that a good idea. What do you think ?

[2019-08-16 21:49] Menelau commented on #140
Checking the documentation of IndexIVFFlat, it seems the number of cells (nlist) and number of probes (nprobes) are important to set in this search.

So I believe we should just list these new input parameters in init with a sensible default value and explain in the documentation that they are only used if the algorithm='IndexIVFFlat' (Maybe we can give a better name for this like "voronoi"). I be

[2019-08-20 02:15] sara-eb opened #162 "Why the competence estimation in OLA is different from the paper?"
Hi everyone,

Does anyone knows why in the competence estimation in OLA in [this line](https://github.com/scikit-learn-contrib/DESlib/blob/master/deslib/dcs/ola.py#L149), the fraction of correct predictions from `self.DES_processed_` is calculated: competences=(#TRUEs)/(#TRUEs and #FALSEs). However, in the paper "Dynamic classifier selection: Recent advances and perspectives" (Section 4.2), the au

[2019-08-22 02:20] Menelau commented on #162
Hello,

The original OLA implementation is the percentage of correct classification. Checking the paper again, the notation there is confusing/misleading.

[2019-08-22 12:57] lachhebo opened #163 "Calibration predict_proba"
Hello,

Let say one uses several Random forest models with DESClustering, then he uses predict proba.

Does the probability estimates between the estimators are calibrated ?
If no, we need to do it before fitting them to the DesClustering model ?

[2019-08-22 14:10] Menelau commented on #163
Hello,

The probability estimates are not calibrated inside the model, they need to be calibrated before.

[2019-08-23 14:37] lachhebo commented on #163
Okay, thank you.

[2019-08-23 14:37] #163 closed

[2019-08-27 07:58] zaimonash opened #164 "Warning"
I'm getting this error in Jupyter Notebook

_...\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:1978: FutureWarning: The default value of cv will change from 3 to 5 in version 0.22. Specify it explicitly to silence this warning.
  warnings.warn(CV_WARNING, FutureWarning)_

_...\Anaconda3\lib\site-packages\sklearn\calibration.py:455: RuntimeWarning: invalid value encountered in multi

[2019-08-28 02:41] zaimonash commented on #164
I used the Jupyter example provided at the DESlib website and simply run it on Jupyter Notebook. No changes made.

[2019-08-28 03:06] zaimonash commented on #164
Yes. The one with heterogeneous classfiers

[2019-08-28 04:07] zaimonash commented on #164
I run the original file without any modification.

[2019-09-01 06:25] sara-eb commented on #162
@Menelau Thanks for your reply. Then, if I am not mistaken,  the percentage of correct classification in the implementation should be followed?

[2019-09-01 12:17] sara-eb opened #166 "Is it feasible to apply DESlib methods on Big Data (voxel-wise classification)?"
Hi,

I am working on segmentation task in medical images. I was trying to apply DS methods on my research problem, voxel-wise classification. I have extracted some specific feature from the voxels inside a mask area (region of interest).

The number of instances for each patient becomes around 500K. For the starting point, I chose 2 patients as training, and one patient as validation/test (as`dsel

[2019-09-02 22:36] Menelau commented on #166
Hello,

Well usually when handling large datasets, the bottleneck in the DS methods is the calculation of the region of competence due to sklearn being a bit slow for similarity search when you have plenty of data and they also have high dimensionality (so the KD-trees algorithm does not work). It is very likely that this is the cause of your simulation being extremely slow.

Because of that we al

[2019-09-02 22:37] Menelau commented on #162
yes, the percentage of correct classification in the region of competence should be followed.

[2019-09-03 04:07] sara-eb commented on #162
@Menelau  Thanks a lot for confirming

[2019-09-03 04:09] sara-eb commented on #166
Dear @Menelau, thanks a lot fro your prompt response.

Sure, I will try Faiss, hopefully it works for my research problem?

[2019-09-21 03:39] sara-eb opened #167 "How can we create pool of classifiers?"
As you have mentioned in your examples, BaggingClassifier or RandomeForest classifier are considered as a pool of classifier itself.

I am wondering is it possible if I create a pool of classifiers including traditional ensemble methods like RF, Adaboost in combination of single classifiers like SVM, kNN?

Thanks

[2019-09-24 03:40] Menelau commented on #167
@sara-eb Hello,

Sorry for the delay response. The library accepts any list of classifiers as the pool of classifiers so it does accept a combination of ensemble methods with single classifier models. There are two ways of doing that:

`X ,y = make_classification()
rf = RandomForestClassifier(n_estimators=10).fit(X, y)
adaboost = AdaBoostClassifier(n_estimators=10).fit(X, y)
svm = SVC().fit(X, y)

[2019-09-24 10:13] besherh opened #168 "Keras classifiers?"
Please note that this is not an issue!

I was wondering if I could use see support deep learning classifiers (keras)?

is this possible?

[2019-09-24 14:04] sara-eb commented on #167
@Menelau  Thank you very much sir,
Your explanation is very clear.

Thanks again

[2019-09-25 01:05] Menelau commented on #168
Hello,

Yes it can support as long as the classifier implement the scikit-learn interface (predict, predict_proba).

[2019-09-25 11:19] besherh commented on #168
Thanks for the reply,
I have found an example [Here](https://machinelearningmastery.com/use-keras-deep-learning-models-scikit-learn-python/) that shows how to implement scikit-learn interface.

Let's assume that I have an ensemble of 30 deep learning models (Keras models in h5 format), how to create my 'pool_classifiers' in order to pass it to one of the DSCs.

Could you advise?
Thanks in advance!

[2019-09-26 02:49] #162 closed

[2019-09-26 02:49] #166 closed

[2019-09-26 02:50] Menelau commented on #164
Fixed in #165

[2019-09-26 02:50] #164 closed

[2019-09-26 02:52] Menelau commented on #168
Hello,

In this case you just need to create a list of classifiers in order to pass it to the DS method:

`pool_classifiers = [model1, model2, ... model30]`

You can also check on this example on how to create a pool of classifiers manually just by adding them to a list: https://deslib.readthedocs.io/en/latest/auto_examples/example_heterogeneous.html#sphx-glr-auto-examples-example-heterogeneous-py

[2019-09-26 10:51] besherh commented on #168
Thanks that was helpful (Y)

[2019-10-09 03:58] sara-eb commented on #167
@Menelau I created a pool of classifiers for my data including a random forest with 200 estimators and an AdaBoost classifier with 600 decision trees.

[code]
Since my validation (i.e., DSEL) dataset is quite big number of samples, I was trying to fit the DS model on validation data and save the model for later prediction on test dataset. However, I am facing an issue of saving it:
`
TypeError: ca

[2019-10-10 19:12] Menelau commented on #167
@sara-eb Hello,

I have a feeling that it happens because of the information stored in the faiss knn but I'm not sure. I will investigate that and get back to you asap.

You can try using **dill** instead of pickle for saving the model: https://pypi.org/project/dill/ I believe that should work for you.

[2019-10-12 09:38] sara-eb commented on #167
@Menelau

Thanks for recommendation,
I installed dill and tried to save with `dill`:
[code]
However, still getting error;
`TypeError: can't pickle SwigPyObject objects`

I have traind RandomForest classifier in parallel, can this be the reason?

[2019-10-13 05:08] Menelau commented on #167
@sara-eb ,

Parallel random forest shouldn’t be a problem at all. I dig deeper into this issue and I found a problem with the serialization of the Faiss KNN. In the case, the index computed by the faiss knn needs to be converted to a string before it is written to a file (see https://github.com/facebookresearch/faiss/issues/914).

So I prepared a workaround with functions for saving and loading DS

[2019-10-16 09:36] besherh commented on #168
Hi again,
I was looking for an ensemble pruning library, and I found: https://github.com/viisar/brew, however the project is dead now and it had been advised to check DESlib.
Are any ensemble pruning techniques that are currently supported in DESlib?

[2019-10-18 03:39] Menelau commented on #168
@besherh

Well DESlib has one static selection method which you can use to prune your ensemble: https://deslib.readthedocs.io/en/latest/modules/static/static_selection.html

It is a very simple ensemble pruning model.  As the main focus of the library is on dynamic ensembles, this part was not given much attention until now and there is still a lot of room for improvements in the static selection/

[2019-10-18 12:46] besherh commented on #168
Thanks, I will check the static_selection (I could have questions for the future :) ), and you are right about considering the diversity measures as acc measures are not enough.
As you know, there are plenty of pruning techniques for ensembles, and it could mainly be divided into three categories:
1- ordering-based pruning: like Kappa pruning & Reduce-error pruning.
2- clustering-based pruning: li

[2019-10-18 17:52] besherh commented on #168
I am trying to fit the static_selection with cifar10 data, but there is an issue with the input dimensions:
First I am creating a static_selection object
`static_class = StaticSelection(models_pool)
`then trying to call fit on my input data : `static_class.fit(X_prune,y_prune)`.
Error:
`Found array with dim 4. Estimator expected <= 2`
My input dimension:
(40000, 32, 32, 3)
(40000, 10)

Any advice

[2019-10-23 02:11] Menelau commented on #168
@besherh

Sorry for the late reply. I believe this error is due to the fact that the KerasClassifier (which you use to wrap your model) was not trained. In order to have the 'classes_' attribute, you need to actually train the returned model from KerasClassifier to make use of scikit-learn functionalities.

This error happens in which line of code?

[2019-10-23 09:15] besherh commented on #168
Hi,
The error is raised when calling static_prune.fit().
I have searched for the error and you are right.
I have to look about what I have to do regarding this, as a side note do you think transforming the input images from 3d to 2d (to work with this library) is safe ?

[2019-10-25 16:56] Menelau commented on #168
It should not be a problem as long as you can reshape it back to format your model accepts as input.

However, thinking about that, I believe it is better to remove the restriction imposed in the static selection to accept only a 2d array as input. As it can be seen as a meta-estimator, it should not impose constraints on the input type, rather the estimator itself should deal with the checking an

[2019-10-27 05:48] sara-eb commented on #167
@Menelau Thank you very much sir, It works perfectly
Appreciate it

[2019-11-10 00:11] Menelau commented on #151
Fixed in #170

[2019-11-10 00:11] #151 closed

[2019-11-10 17:46] sara-eb commented on #167
@Menelau  I am facing new issue with scoring now on the test set. What could be the reason.

[code]

[2019-11-12 14:23] sara-eb opened #171 "Problem with predicting and scoring when using Faiss KNN is being used for the knn calculation in the DS models"
Hi everyone,

I used Faiss method for knn calculation. Creating DS models and saving them was performed, and then the model was fitted into DSEL dataset. However, once I tried to do prediction and scoring for the test set, I am facing an error:
[code]
Do you have any idea about that? Your help and expert opinion is appreciated in advance.

[2019-11-12 14:51] Natlem commented on #171
Hi,

Do you think we can have a look at your code ?

Thanks,

[2019-11-13 04:20] Menelau commented on #167
Hello,

How did you load the ds model? Did you use the **load_ds** function I provided in the gist: https://gist.github.com/Menelau/0cde51c3622be6313fd96b4dffb17996 ?

I believe the error is in the way you are loading the DS model. In order to save the Faiss model, it's index is converted to a numpy array, so that it can be pickled. In the case, the self.index_ variable is the one containing the i

[2019-11-13 04:24] Menelau commented on #171
@sara-eb

I just answered this question in the other thread: https://github.com/scikit-learn-contrib/DESlib/issues/167#issuecomment-553232299

[2019-11-14 03:17] sara-eb commented on #167
@Menelau Thanks a lot sir, sorry I did not realize that I need to load the model again since the model is already in the variable list in the memory.
Thank you very much for mentioning the point.

[2019-11-14 03:19] sara-eb commented on #171
@Menelau Thanks  a lot

[2019-11-20 02:05] jayahm opened #172 "Bayesian Network"
How do I implement Bayesian Network since it not available in scikit learn?

[2019-11-28 04:39] sara-eb commented on #171
@Menelau Hi again, The models for `KNORAU`, `KNORAE`, and `DESP` could be saved and loaded successfully. However, the models for **METADES** and **KNOP** can not saved by the [code ](https://github.com/scikit-learn-contrib/DESlib/issues/167#issuecomment-541386921)(provided earlier) and it shows the following error message:

I followed the same procedure for saving and loading, what could be the re

[2019-11-29 02:39] Menelau commented on #172
@jayahm Hello,

Sorry for the late response. Unfortunately this library is focused only on ensemble models (more specifically on dynamic ensembles). So, Bayesian Networks is not on the scope of this library.

There are other python libraries with implementation of Bayesian Network that you should try:

- Python Library for Probabilistic Graphical Models (pgmpy): https://github.com/pgmpy/pgmpy
- Ba

[2019-11-29 03:12] Menelau commented on #171
@sara-eb Hello,

I'm sorry I forgot about these two cases (META-DES and KNOP) when I gave you the code for saving and loading DS methods. These methods uses the KNN method in a different way so they required an special handling.

I just updated the gist with the code for saving/loading DS methods to also handle this scenario: https://gist.github.com/Menelau/0cde51c3622be6313fd96b4dffb17996
only a

[2019-11-29 04:36] #167 closed

[2019-11-30 14:29] sara-eb commented on #171
@Menelau Thanks a lot sir for this.
Since I am working on your library by faiss kNN, I will inform you here if there is any.

Thanks once again for solving the issue

[2019-12-07 00:23] #172 closed

[2019-12-31 02:21] jayahm opened #175 "Region of competence"
How do define the region of competence using clustering method?

[2019-12-31 09:25] jayahm opened #176 "index is out of bounds"
I was trying to run StaticSelection on my dataset using Jupyter Notebook.

I used loop to run on 40 different datasets (1 dataset = 1 subject).

For other classifiers (SVM, KNN, etc), nothing was wrong.

But for StaticSelection, I got the error below.

It seems it has an issue with the test set and its label.

Why only this happened to `StaticSelection` (and also `SingleBest`)?

[code]

[2020-01-01 05:18] jayahm commented on #176
UPDATE:

If I use BaggingClassifier as the pool of classifiers, it works.

But, for heterogeneous pool, the issue happened.

[2020-01-01 07:47] jayahm commented on #176
UPDATE:

I included `StaticSelection`  in your original `example_heterogeneous` example using Jupyter.

I got this error:
`'<' not supported between instances of 'str' and 'int'`

You may see the file: https://www.dropbox.com/s/z4he7u1vmxppfy5/example_heterogeneous_static.ipynb?dl=0

[2020-01-02 16:37] Menelau commented on #176
@jayahm Hello,

Sorry for the late response, I believe that is a bug in the way we are handling label encoding in this estimator. I will investigate this issue right now and get back to you asap.

[2020-01-02 16:43] Menelau commented on #175
Hello, In the DESClusterigng estimator the region of competence is based on the K-Means clustering algorithm over the training data.

The region of competence of a given `x_test ` is defined by the cluster with the nearest centroid.

[2020-01-08 01:47] jayahm commented on #175
So, there is no clustering approach for defining the region on OLA, LCA and etc methods?

[2020-01-08 01:48] jayahm commented on #176
Hi, is there any update on this?

[2020-01-15 14:14] PedroSilvaAlves commented on #176
Also waiting for an update in this. my dataset was 13 classes and knora-e is giving me class id=17, was one of the predictions

[2020-01-15 14:19] PedroSilvaAlves commented on #176
Hey, i'm also waiting for an update in this.

[2020-02-04 04:59] Menelau commented on #176
@jayahm , @PedroSilvaAlves Hello,

Sorry for the very late response, I just came back from vacations. I took a look at the issue and it is really related to problems while performing label encoding inside the static selection method. I started working on it on a new branch and it seems the problem is solved. I just need to perform more tests to see if everything is ok and will probably send a pull

[2020-02-04 05:03] Menelau commented on #175
Hello @jayahm

Unfortunately, these methods can only work with KNN as the implementation of these methods was made following the original publications.

I have plans in the future to refactor the library in a way that all methods could select clustering as a method for defining the region of competence.

[2020-02-08 03:37] jayahm commented on #176
@Menelau, thank you. you works have helped me a lot. is the problem has been solved?

[2020-02-08 03:39] jayahm commented on #175
@Menelau That is great. It would be great if that is possible as more explorations can be carried out.

[2020-02-08 03:56] Menelau commented on #176
@jayam Hello,

The patch with the fix is almost done. The code example you provided that was giving an error before is working fine now as well as other test cases I created to ensure the problem is solved.

Now I just need to make sure that these changes did not break the scikit-learn `check_estimators` test in order to merge the patch. I'm looking at it right now.

[2020-02-08 04:36] #171 closed

[2020-02-08 04:36] #153 closed

[2020-02-08 21:45] Menelau commented on #176
@jayahm,

I merged the fix to the master branch. Note that in order to get the update you need to reinstall the library using the latest version: **pip install git+https://github.com/scikit-learn-contrib/DESlib**

please let me know if everything works for you.

[2020-02-09 00:47] jayahm commented on #176
@Menelau , great, let me try

[2020-02-09 02:20] jayahm commented on #176
@Menelau StaticSelection works now.

But, now SIngleBest is not working.

Using the same file, you can check:
https://www.dropbox.com/s/z4he7u1vmxppfy5/example_heterogeneous_static.ipynb?dl=0

[2020-02-09 03:05] Menelau commented on #176
@jayahm Oh,  I forgot to apply the last change on the SingleBest after changing the label encoder. Just merged a fix, you will need to update the library again. Sorry for that!

[2020-02-09 23:00] Menelau commented on #60
Fixed in PR #180

[2020-02-09 23:00] #60 closed

[2020-02-12 04:50] jayahm commented on #176
@Menelau thanks again.

After trying on my data, I got this error:

[code]

[2020-02-12 05:25] Menelau commented on #176
@jayahm Hello,

Well that is a different problem and also on a different model (StackingClassifier). This one was not changed in the last patch.

Which classifiers are you using in the pool? From the error message, it seems that one of the base models in the pool is not providing probabilities in the correct format (it seems to be outputting a 1d array instead of a 2d).

[2020-02-12 05:36] jayahm commented on #176
@Menelau I see. I thought it's coming from Stacking Classifier

[2020-02-12 05:42] Menelau commented on #176
Can you provide me an code example that this error is happening? I'm trying to simulate this error but so far was not able to.

Also is this a very small dataset? That could possibly have a problem of one data split not containing training examples of all classes.

[2020-02-12 05:47] Menelau commented on #176
By the way, as it is a diferent error, can you close this issue and open a new one? Having that in a different issue makes better for me to keep track of all problems and bugs that has been solve or is yet to be fixed. Thanks!

[2020-02-12 13:39] jayahm opened #181 "ValueError: could not broadcast input array from shape ... into shape ..."
I got this error. I could feel it comes from Stack classifier.

[code]
Below is the file that I'm using, you can simply load the data:
https://www.dropbox.com/sh/3q2dm1tdde0etl5/AAB2RJbyyrOf2t9dmwoDNjzoa?dl=0

[2020-02-12 13:41] jayahm commented on #176
@Menelau sure, I have created a new one.

[2020-02-12 17:10] #176 closed

[2020-02-14 11:22] zoj613 opened #182 "Is the pool of heterogenous classifiers expected to be prefitted?"
Looking at the repo it seems like the checks expect the pool to be prefitted if `pool_classifiers` is not None. Not only that, but it also requires that the passed in data to `fit` be data not used in training the prefitted pool of heterogeneous classifiers? This doesn't seem to be emphasized in the documentation. Am I missing something?
https://github.com/scikit-learn-contrib/DESlib/blob/a22defa8

[2020-02-15 05:31] Menelau commented on #182
@zoj613 Hello,

Yes, the current version is expecting the pool to be prefitted and that point is not very clear in the documentation. In fact, that is something that I want to change for the upcoming versions since we have already implemented routines to fit the pool of classifiers inside if the pool is **None**. So there is no reason for not accepting also an unfitted pool and doing everything in

[2020-02-15 06:10] Menelau commented on #181
@jayahm Hello,

Thanks for providing an example, as I suspected before, the problem occurs because of the number of classes passed down for training. The problem occurs when dealing with user==5. In this case, the y_train contain classes [0, 6], while y_dsel contain only class [0]. So the base classifiers were fitted for a two-class classification problem and hence produces an array of [n_samples,

[2020-02-18 01:20] jayahm commented on #181
Oh, I see. Thanks! Now, I understand what happened.

[2020-02-18 08:49] jayahm opened #183 "'StaticSelection' object has no attribute 'predict_proba'"
Hi,

It seems like other methods have `predict_proba` but not for `StaticSelection`.

https://deslib.readthedocs.io/en/latest/modules/static/static_selection.html

It would be good if I can get the probability score of this method.

[2020-02-20 07:55] jayahm opened #184 "predict_proba from different methods are the same"
Hi.

For each DCS method in the package, I used .predict_proba to produce the probability scores.

For example,
[code]

and so on.

I wonder why the scores produced are the same for all methods?

each of them suppose to chose the score produced by the selected classifier, right?

Note: Accuracy are not same.

[2020-02-21 03:55] Menelau commented on #184
Hello @jayahm

DCS methods do use the probability estimates of the selected base classifier when calling the predict_proba. And I can guarantee you that the predict_proba of different DCS models gives different results (as they may differ in the selected classifier for each example).

I created one example that shows the predict_proba of different DCS methods gives different outputs. You can check

[2020-02-21 03:56] #183 closed

[2020-02-21 03:57] Menelau commented on #183
@jayahm,

Thanks for reporting this issue! I just added the method in the PR #185

[2020-02-23 08:49] jayahm commented on #184
Maybe I misunderstood something. Thank you for the clarification.

[2020-02-23 08:49] #184 closed

[2020-02-26 10:45] jayahm opened #186 "'Oracle' has no attribute 'predict_proba'"
Hi,

It seems like Oracle has no attribute `predict_proba` too.

https://deslib.readthedocs.io/en/latest/modules/static/oracle.html

It would be good if I can get the probability score of this method too.

[2020-02-26 11:09] #181 closed

[2020-03-03 13:45] s0rel opened #187 "'METADES' object has no attribute 'meta_classifier_'"
Hello, thanks for your work.Today I use metades and pass sklearn.linear_model.LogisticRegression as meta_classifier.Unfortunately, it doesn't work and throw an exception "AttributeError: 'METADES' object has no attribute 'meta_classifier_'"Here is my code:
[code]
my envirement:python 3.7.3 sklearn 0.22.2 deslib 0.3
Please help me

[2020-03-03 16:53] Menelau commented on #187
@s0rel Hello,

This is a bug that was fixed in recent patches. In order to fix that you need to install the latest version of the library using the following command:

pip install git+https://github.com/scikit-learn-contrib/DESlib -U

That will install the current development version which has several bug fixes since version version 0.3 release

[2020-03-03 19:07] s0rel commented on #187
@Menelau Thanks for your help.
Can you give me an example how to customize meta_classifier since I don't find examples about it in document.When I write codes as below
[code]
I found errror as below:
[code]
Thanks again for your kindness

[2020-03-05 13:34] jayahm commented on #186
Any update?

[2020-03-05 16:15] Menelau commented on #186
I'm checking how this functionality should be implemented as predict_proba for the Oracle (as it is an abstract model) is not defined. I will give you an update on that in the weekend

[2020-03-07 22:05] Menelau commented on #186
Fixed in PR #188

[2020-03-07 22:05] #186 closed

[2020-03-07 22:05] #175 closed

[2020-03-16 15:16] AlessandroCortex opened #191 "Ensembling models that use different sklearn preprocessing pipelines"
My understanding is that DESlib works with several classifiers but one data preprocessing pipeline. Is there a way to use unique pipelines for each classifier?

[2020-05-08 11:04] PhilipMay commented on #133
Hi @Menelau
did you add any soft voting kind of behavior since your last answer?
Thanks
Philip

[2020-05-12 05:03] #182 closed

[2020-05-12 05:03] #187 closed

[2020-05-12 05:14] Menelau commented on #133
Hello @PhilipMay ,

I have it on a development branch but have not pushed to master yet. I haven't decided on the best way to allow this option this functionality.

One option would be to mimic sklearn VotingClassifier which allows either 'hard' or 'soft' options for voting. That has the benefit of being pretty straightforward and easy to use  (which I like) but would not allow different aggregati

[2020-05-20 02:13] Menelau commented on #191
@AlessandroCortex Hello,

Sorry for the late response. I spent some time away but now I'm back and have more time to dedicate to the library.

Each base model in the pool can have its own pipeline with different data pre-processing steps (as long as it is a sklearn pipeline). For example:

`from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import ma

[2020-05-20 02:23] #140 closed

[2020-05-20 05:32] #72 closed

[2020-06-02 15:50] gweisang commented on #147
Hi,
I would also be interested in the implementation of META-DES.O. Any idea when this would be added?

I could possibly lend a hand in developing this if need be.

[2020-06-03 06:09] Menelau commented on #147
@gweisang

Hello, at the moment I'm working on the BPSO implementation which should be done probably tomorrow, and the additional stuffs to like global validation to prevent overfitting in the selection stage. With that we will have almost all components necessary to finish the META-DES.Oracle  given that computing the majority of the additional meta-features can be done calling the functions from

[2020-06-03 06:12] #191 closed

[2020-06-19 06:48] jayahm opened #197 "Couldn't find META-DES Oracle?"
Hi,

I say METAS-DES oRacle is one of the methods presented the paper.

But, I couldn't find it this library.

[2020-06-20 23:04] Menelau commented on #197
Hello,

META-DES.Oracle is not available yet. It currently in development (see branch: https://github.com/scikit-learn-contrib/DESlib/tree/meta_des_oracle). It will be available in the next version.

[2020-06-23 10:13] jayahm opened #198 ""invalid value encountered in true_divide""
Hi,

I got the following warnings when running "Probabilistic DES"

[code]

[code]

Where should I check to fix this?

[2020-06-24 03:51] Menelau commented on #198
@jayahm Hi,

This sounds like the **sum_potential** variable contains NaN values. Which one of the probabilistic DES method are you using? There are 5 methods in the library from this type: DES-RRC, DES-KL, Exponential, Logarithmic, and MinimumDifference.

Can you provide a code piece where this problem occurs? That would really help me in finding the issue.

[2020-06-30 03:42] jayahm commented on #198
May I know what is sum_potential?

I used all the methods under probabilistic.

[2020-06-30 04:38] jayahm commented on #198
Here is the code:
https://www.dropbox.com/sh/snzoq5zu8x6f922/AAARc-uTY5R6IDeqVw11T2Kra?dl=0

[2020-07-01 09:00] jayahm opened #199 "Unable to find "Dynamic Selection on Complexity""
Hi,

Is this technique available in this library?
Dynamic Selection on Complexity

[2020-07-06 02:22] #197 closed

[2020-07-06 02:28] Menelau commented on #199
@jayahm  Hello,

No, this technique is not available in the library yet. If you can contribute to an implementation of this method let me know.

[2020-07-06 03:13] jayahm commented on #199
Oh, it's not available. But I saw it has been tested in your paper "Dynamic classifier selection: Recent advances and perspectives"

[2020-07-06 03:14] jayahm commented on #198
May I get some updates on this? I'm afraid there is something wrong with my dataset that has caused the issue

[2020-07-06 03:36] Menelau commented on #199
It was evaluated in the review paper, however, based on the original implementation provided by the author. I have plans to have this method added to the library in the future, however, there are some things in its implementation I still need to think about how to put in the context of the library  (such as the way they use dataset complexity measures in the competence estimation etc).

[2020-07-06 03:40] Menelau commented on #198
Hello @jayahm,

I'm Checking that right now. Will give you an answer probably tomorrow. Even if there may be problems with the datasets (I still need to check if it is the cause) I will probably still need to change the code to be more robust to such problems and/or also give back meaningul error messages to the user in the presence of such problems.

[2020-07-07 21:02] Menelau commented on #198
@jayahm Hello,

I carefully investigated this problem and it is being caused by an outlier on the test data which has feature values orders of magnitude larger than any other (instance with index 399 in X_test). With this value being much larger than normal, its distance to any of the data points in X_dsel is very large and that is causing an underflow when computing the potential function used by

[2020-07-08 02:27] jayahm commented on #198
@Menelau ,

Can normalization solve the issue in the dataset

[2020-07-08 04:27] Menelau commented on #198
@jayahm ,

It can probably solve your problem, especially if you use a normalization method that is robust to outliers such as the RobustScaler on scikit-learn:

RobustScaler: https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html
Normalization with outliers: https://scikit-learn.org/stable/auto_examples/preprocessing/plot_all_scaling.html#sphx-glr-auto-examples-

[2020-07-08 11:18] jayahm commented on #198
So, I should update the library?

[2020-07-09 04:50] Menelau commented on #198
Yes you should update with the new master code.

[2020-07-21 00:50] #198 closed

[2020-07-27 05:15] jayahm opened #202 "Unable to find the information on DES-Logarithmic and DES-Exponential in the references listed"
I was trying to understand the above two methods.

After checking in the references listed in the API Reference's page, I couldn't find the information about these two methods:

[code]

So, where I can read more about the two methods?

[2020-07-27 20:19] Menelau commented on #202
Hello,

You can read more about those two methods in the following paper:

**Woloszynski, Tomasz, and Marek Kurzynski. "On a new measure of classifier competence applied to the design of multiclassifier systems." In International Conference on Image Analysis and Processing, pp. 995-1004. Springer, Berlin, Heidelberg, 2009.**

I will update the documentation with this paper.

Also, the DES-logarith

[2020-07-28 00:52] jayahm commented on #202
I'll have a look. Thank you.

[2020-07-28 00:52] #202 closed

[2020-07-28 00:52] #199 closed

[2020-08-04 01:57] jayahm opened #203 "DCS-Rank, DCS-OLA, DCS-LCA and DCS-MLA keep producing the same result"
Hi,

It is weird that Rank and OLA produced the same result.
Also, LCA and MLA produced the same result

You can see an example below (in example_heterogeneous.ipynb)
https://www.dropbox.com/sh/8fhd97flal4d076/AADqIL9cvP8_2z-Sbue1rLg0a?dl=0

There are two different datasets. But, both produced similar behaviour.

This is just 2 examples.

It happened to all datasets that I have.

[2020-08-04 04:49] Menelau commented on #203
@jayahm Hello,

Actually it is not strange that these techniques produce the same results for a few datasets, in fact, their classifier selection mechanism is quite correlated. You can see an analysis in this paper that shows how the OLA, LCA, and MLA are quite similar and sometimes gives exactly the same result:

**Analyzing Dynamic Ensemble Selection Techniques Using Dissimilarity Analysis**
htt

[2020-08-04 08:58] jayahm commented on #203
I see. I thought it may be due to error in my data

[2020-08-04 09:08] jayahm commented on #203
@Menelau

I see.

Is there any reason why Rank = OLA and LCA = MLA. And this happens in many datasets.

For example:

Dataset 1
[code]

Dataset 2:
[code]

[2020-08-05 02:36] Menelau commented on #203
My guess here is that LCA and MLA are "a posteriori methods", in other words, it takes into account which class the base classifier c_i is predicting and computes its competence level only with respect to this class (ignoring whether it correctly classified or misclassified examples from different classes). In our experience, this property found in these techniques does not work well for datasets

[2020-08-06 11:43] jayahm opened #204 "Regarding the code for A Priori"
I went through the code (the class) your A Priori

https://github.com/scikit-learn-contrib/DESlb/blob/master/deslib/dcs/a_priori.py

On line 192,
[code]

I quite don't understand on  `self.DSEL_target_[neighbors]`

From my understanding, it is the index of the target class of the sample in the region of competence.

`self.DSEL_target_[neighbors]` will produce an array of shape (n_samples), where

[2020-08-07 01:48] jayahm opened #205 "For LCA, what if the samples with the class is not amongst the neighbour?"
I'm wondering for LCA.

Since the local accuracy is estimated in respect of output classes assigned by a particular classifier, what if the local region of a test sample does not have the validation sample with that class label in the region?

Is this possible to happen?

If yes, how your implementation for LCA can handle this?

[2020-08-07 01:54] Menelau commented on #205
Yes, it is possible to happen. In this case, the competence level of this
base classifier is set to zero

Em qui., 6 de ago. de 2020 às 21:48, jayahm <notifications@github.com>
escreveu:

[2020-08-07 02:38] Menelau commented on #204
No, it is not the shape of n_classes, the result array from `self.DSEL_target_[neighbors]` operation is the same shape as the neighbors array. However, each element in the result array is a value between 0 to n_classes -1. This value is then used to index the desired class.

In order to understand more about NumPy advanced indexing, I really recommend you to check this tutorial: https://numpy.org/

[2020-08-09 05:00] jayahm opened #206 "How do I know the aggregation technique used for each DES method?"
Hi,

As mentioned in your review paper, there are several types of aggregation technique for DES.

But, upon checking each code of the DS methods in deslib, I couldn't find the information on the aggregation used by each method.

Did I miss the information somewhere?

[2020-08-09 22:21] Menelau commented on #206
Hello,

All methods use majority voting as aggregation rule.

[2020-08-11 04:43] jayahm commented on #205
@Menelau

May I know which part of the library is doing so?

[2020-08-11 04:46] jayahm commented on #206
Thanks for the clarification

[2020-08-11 04:47] #206 closed

[2020-08-11 05:35] Menelau commented on #205
In the **estimate_competence** function line 180:

https://github.com/scikit-learn-contrib/DESlib/blob/50e6ba4ddc8f04599937ac0b9913522798dd4b58/deslib/dcs/lca.py#L180

[2020-08-11 09:23] jayahm commented on #204
I see. It was my misunderstanding of how NumPy's slicing works.

Thank you.

[2020-08-11 09:23] #204 closed

[2020-08-17 01:33] jayahm opened #207 "The shape of test samples and neighbours are not the same"
Hi,

Upon checking the shape of `y_test` in the `examples/example_heterogeneous.py`, it is (228,).

But, I checked the shape of `neighbors` (in `ola.py`), the shape is (66, 7). Since 7 the number of neighbours, I believe 66 is the number of test samples.

I wonder why this could be different? (228 vs 66)

[2020-08-17 01:58] Menelau commented on #207
Because thr DS methos are only active when there is a disagreement between
the base classifiers in the pool. If all classifiers predict the same label
for the test there is no reason to use DS at the end since the prediction
will always be the same.

In this case, 66 is the number of test samples that the base models
disagree with the label, so that they are passed down to the DS method, and
only

[2020-08-17 03:11] jayahm commented on #207
But, in the end, the DS will return the labels of all samples that including those that have agreements between the base classifiers, am I right?

[2020-08-17 07:32] Menelau commented on #207
yes, the it returns the label of all samples.

Em dom., 16 de ago. de 2020 às 23:12, jayahm <notifications@github.com>
escreveu:

[2020-08-17 09:34] jayahm commented on #207
May I know what criteria a particular method uses for the "agreement"?

I believe it is based on the same label returned by each classifier.

In that case, there is a default classification decsion threshold for the classifiers.

What if in some classification problems, the threshold is varied? (that is in my case)

[2020-08-17 21:38] Menelau commented on #207
Just checking the prediction of the base models. If all models predict the same label, no need for further processing with DS as any selection will give the same output.

If at least **one** model disagrees with the other base classifiers, dynamic selection is used to select the most competent one(s) for prediction.

In the current implementation, there is no threshold for the degree of disagreeme

[2020-08-18 03:18] sara-eb opened #208 "How to use/include the user-defined measure of competence in deslib for DCS and DES?"
Hi,

I am using dynamic selection methods for my research that needs to use the measure of competence that I have coded instead of accuracy. Using accuracy, as the measure of competence for classifier, may not represent well the competent ones. For example, I wanted to use [jaccard index ](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.jaccard_score.html) from scikit-learn as a

[2020-08-19 00:47] Menelau commented on #208
@sara-eb

In this case, you need to define a new dynamic selection technique and implement the **estimate_competence** method with the metric that is suitable for your problem.

In the case, if the technique is a DES one, you can create a new class for your method inheriting from the BaseDES class, and just implement the **estimate_competence** method and possibly the **select** too adapting to yo

[2020-08-21 03:54] sara-eb commented on #208
@Menelau
Thank you very much for you help. Appreciate it

[2020-08-21 03:54] sara-eb commented on #208
@Menelau
Thank you very much for you help. Appreciate it

[2020-08-21 05:45] #205 closed

[2020-08-23 20:05] jayahm opened #210 "Why RRC requires the number of neighbours?"
Hi,

I realize RRC and other methods where the region of competence is based on potential function requires the number of k.

What I 8understood is that, they use the whole DSEL.

Why the class of these methods, we still need to set k?

[2020-08-24 06:37] #207 closed

[2020-08-24 06:37] #203 closed

[2020-08-24 21:32] Menelau commented on #210
@jayahm Hello,

It is not required to set the k value on the RRC model at all. By default it uses the whole DSEL which is the original version of those techniques.

We just allow the user to have more a bit more flexibility and limit the number of data points used in the calculation since it can significantly reduce computational cost when dealing with large datasets. But that is completely option

[2020-08-26 10:32] jayahm opened #211 "Training time"
Hi,

For DS methods, does the training time should include the training time of each base classifier?

Is it like this?
`training_time = time_clf1 + time_clf2 + ... + time_clfn + time_the_ds_ method`

[2020-08-26 10:33] jayahm commented on #210
I see. I got it. Thank you.

[2020-08-26 10:33] #210 closed

[2020-08-26 20:48] Menelau commented on #211
@jayahm

It depends on what do you want to measure. If you want to measure the training time of your whole system, for example, to compare with different state-of-the-art approaches (like with the training of a single classifier) for the same application you will need to add the time for training the base classifiers as well.

If you just want to measure the training time of the DS method to compa

[2020-08-27 01:11] jayahm commented on #211
I wanted to compare the whole system with single classifiers as well. Thank you. I got your point.

[2020-08-27 01:11] #211 closed

[2020-08-29 02:21] sara-eb opened #212 "Fitting DESClustering on X_dsel raise a value error when I have a pool of (pre-trained) Random Forest classifier model"
I have trained the random forest on `X_train` in advance and load the model to create the pool of classifier:

[code]

It seems that other DS methods (i.e., OLA, MLA, DESP, and etc) are successfully fitting the `X_dsel` on the DS models, however DESClustering is raising the value error:

[code]
which is raised on [this line](https://github.com/scikit-learn-contrib/DESlib/blob/master/deslib/des/des

[2020-08-29 03:57] Menelau commented on #212
@sara-eb Hello,

Thanks for reporting this issue. I believe the problem is that you are putting the RF classifier inside of a list:

`pool_classifiers = [model_rf] `

So when the DES clustering receives the models as input it only sees one model (as the list has only one element), instead of seeing all individual models of the RF. For that reason, it cannot properly set up the variables N and J  w

[2020-08-29 09:16] sara-eb commented on #212
Dear @Menelau Thanks a lot for your prompt response. I have tried this before posting the issue here,

Once I changed to `pool_classifier = model_rf`, DESClustering on `X_dsel` takes long time, even after 24 hours does not fit, which seems there is a problem here. Then, I had to stop the code, because it is not fitting.

Moreover, since I am using the Faiss kNN, I am using [this code](https://gist

[2020-08-29 09:16] sara-eb commented on #212
Dear @Menelau Thanks a lot for your prompt response. I have tried this before posting the issue here,

Once I changed to `pool_classifier = model_rf`, DESClustering on `X_dsel` takes long time, even after 24 hours does not fit, which seems there is a problem here. Then, I had to stop the code, because it is not fitting.

Moreover, since I am using the Faiss kNN, I am using [this code](https://gist

[2020-08-29 09:16] sara-eb commented on #212
Dear @Menelau Thanks a lot for your prompt response. I have tried this before posting the issue here,

Once I changed to `pool_classifier = model_rf`, DESClustering on `X_dsel` takes long time, even after 24 hours does not fit, which seems there is a problem here. Then, I had to stop the code, because it is not fitting.

Moreover, since I am using the Faiss kNN, I am using [this code](https://gist

[2020-08-30 07:36] jayahm opened #213 "Is it possible to make OLA as a DES?"
Hi,

It is well known that OLA is a DCS method.

But, is it possible using the library to select the most competence subset of classfiers based on a certain threshold sung OLA?

[2020-08-31 03:49] jayahm opened #214 "The results of two A Posteriori are not same"
Hi,

I was playing around with the code by repeating the same method twice.

For example:
[code]

However, the results are not the same and I'm wondering why

[code]

The random state is the same too. But, the results of the same method on the same dataset is not the same?

[2020-08-31 08:02] maryam3066 opened #215 "deslib for regression problem"
Hi
can I use deslib library for predicting numerical values (regression problem)?

[2020-08-31 14:59] Menelau commented on #214
Hello,

As far as I know, the results are always the same, and the unit tests for the library tests for that based on the scikit-learn check_estimators method.

There may be a problem in a way you are setting the random state. How are you defining the rng variable? Is it an instance of numpy.random.RandomState? That would change the results since the internal value of the rng would be different be

[2020-08-31 15:09] Menelau commented on #215
@maryam3066 Hello,

Unfortunately, the library doesn't have support for regression problems yet. All methods implemented are for classification only.

I have plans in the future to add dynamic selection techniques for regression such as the MINE framework:

https://www.sciencedirect.com/science/article/pii/S0020025520307192?casa_token=3v_kQeVLhxkAAAAA:w24yRTt8uQXwIZ-dUCNbVtXXnjEMQ4owMSteAHT3WCYkfz

[2020-08-31 15:43] Menelau commented on #213
Hello,

You can set **selection_method='all'** in order to select all base classifiers that obtained the highest competence level instead of randomly picking one among the most competent ones. However, you cannot do that based on a certain threshold.

If you want to have such functionality, you can look at the DES-P method, which selects all base classifiers according to a certain threshold, which

[2020-09-03 01:57] jayahm commented on #214
Yes just made simply modification for your "example_heterogeneous.ipynb" file by repeating APosteriori 2 times. You can see the outcome below.

So, do you mean if I assign into two different variables, the results may not be the same?

https://www.dropbox.com/s/ieu34ss1hcpudhx/example_heterogeneous-ap.ipynb?dl=0

[2020-09-03 02:07] jayahm commented on #213
Is there any way that I can do in such a way the top N classifiers with highest local accuracy be selected?

Can I modify DES-KNN for this purpose?

[2020-09-03 19:43] Menelau commented on #213
The current implementation of DES-KNN you can set the number of classifiers (percentage) to be selected according to accuracy(pct_accuracy, however it is expecting at least one classifier selected according to diversity (**pct_diversity** hyperparameter)

[2020-09-05 04:17] jayahm commented on #213
I see. Thank you very much.

[2020-09-05 04:17] #213 closed

[2020-09-06 05:11] sara-eb commented on #212
@Menelau Hi again, Any update on this?
it seems the model is big and cannot be saved by `dill.dump(dsalgo, f)`.

I tried to find a solution for saving i. In this [link](https://github.com/uqfoundation/dill/issues/256#issuecomment-369431997), the author is suggesting the author is suggesting to save as `HDF5` file.

I am not sure if I have written the command it in a correct way or not, but I was t

[2020-09-06 05:11] sara-eb commented on #212
@Menelau Hi again, Any update on this?
it seems the model is big and cannot be saved by `dill.dump(dsalgo, f)`.

I tried to find a solution for saving i. In this [link](https://github.com/uqfoundation/dill/issues/256#issuecomment-369431997), the author is suggesting the author is suggesting to save as `HDF5` file.

I am not sure if I have written the command it in a correct way or not, but I was t

[2020-09-06 05:11] sara-eb commented on #212
@Menelau Hi again, Any update on this?
it seems the model is big and cannot be saved by `dill.dump(dsalgo, f)`.

I tried to find a solution for saving i. In this [link](https://github.com/uqfoundation/dill/issues/256#issuecomment-369431997), the author is suggesting the author is suggesting to save as `HDF5` file.

I am not sure if I have written the command it in a correct way or not, but I was t

[2020-09-07 20:34] Menelau commented on #212
Hello,

If the model is too big I believe that hdf5 is a better option since it is made for large and complex data format. However, I'm not familiar with klepto and the whole HDF5 saving process. I think your best bet would be checking with the h5py repository the https://github.com/h5py/h5py

[2020-09-08 01:36] Menelau commented on #214
Yes, if more than one base classifier has the same competence level the selected one is picked randomly between them. So the value of the random state passed down to the method influence in this result. That also happens with the A Priori technique.

In the experiment you conducted what is happening is that the random state is set once at the beginning and used for all methods. That guarantees tha

[2020-09-08 08:05] jayahm commented on #214
I see. I implemented your suggestion above and the results are the same.

[2020-09-08 08:05] #214 closed

[2020-09-10 04:33] jayahm opened #218 "Pool based on different features"
Hi,

Is there any example on how to perform DS based on different features?

The examples on the website are only cover on pool of heterogeneous classifiers, bagging and random forest.

I couldn't find and have no idea on how to generatea pool of different features.

[2020-09-11 18:34] #215 closed

[2020-09-11 18:40] Menelau commented on #218
@jayahm Hello,

At the moment the library can only work with all models receiving the same feature set as input. There are ways to have base classifiers using different transformations of the input features set by using a sklearn pipeline (for example use a subset of the input features or transformations such as PCA). In this case, each base model should be composed of a scikit-learn Pipeline in w

[2020-09-11 19:07] #168 closed

[2020-09-12 02:29] jayahm commented on #218
How about Random Subspace Method?

I was thinking to try this.

[2020-09-14 01:48] jayahm opened #219 "DES-P"
Hi,

As far as I understood, DES-P is a probabilistic method, but why it is not included the probabilistic methods in this library?

[2020-09-14 02:29] jayahm opened #220 "'RandomForestClassifier' object has no attribute 'estimators_'"
Hi,

I followed your example on RF and DS
https://deslib.readthedocs.io/en/latest/auto_examples/plot_random_forest.html

However, I got this error on stacked classfier.

[code]

[2020-09-14 02:56] jayahm opened #221 "Cannot cast array data from dtype('float64') to dtype('int64') according to the rule 'safe'"
Hi,

I got this error for Single Best method.

Other methods so far were fine, but up to SB, it produced this error:

[code]

[2020-09-17 15:48] jmrichardson opened #222 "Kfold - TimeSeriesSplit?"
Hi, thank you for the great package.  I have temporal data and would like to be able to use timeseriessplit cross validation or perhaps kfold (hold the shuffle).  Is this possible?

[2020-09-18 17:05] Menelau commented on #222
Hello,

Yes it is possible. In the case you can use the TimeSeriesSplit from sklearn to create your training and test split (and possibly validation too) and use these sets manually to train fit the base models & DS methods.

Another alternative is to have the DS method as input to the the **cross_val_score** function from scikit-learn to automatically compute the result over multiple folds. That

[2020-09-18 17:10] Menelau commented on #220
Hello,

Can you give me the versions of each library you are using (Scikit-learn and DESlib)? I have no problems in running this example in my environment, so it could be some problems with different versions.

[2020-09-18 17:14] Menelau commented on #221
@jayahm

In order to help you, I need to have a code example that generates this problem. Please follow the guidelines in our documentation in order to report bugs:
https://deslib.readthedocs.io/en/latest/user_guide/development.html#reporting-bugs-and-requesting-features

Without that I cannot reproduce the problem and fix it.

[2020-09-18 17:16] Menelau commented on #219
This method does not follow the same structure from the probabilistic ones. It does not use the potential function model in the region of competence steps. That is the reason it is out.

[2020-09-18 17:16] #219 closed

[2020-09-19 02:23] jayahm commented on #220
What I meant was I followed the code and run on my dataset, including stacked classifier as well.

The deslib version is 0.4.dev.
The scikit-learn version is 0.22.1.

[2020-09-19 04:44] jayahm commented on #221
I was trying to follow the instruction on the documentation. But, I was not able to understand on how to share the code on gist.

Is it possible just share the code from my Dropbox?

Windows-10-10.0.18362-SP0
Python 3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
NumPy 1.19.1
SciPy 1.4.1
Scikit-Learn 0.22.1

https://www.dropbox.com/s/9o62o6uicwlajpj/DESLIB_RF.zip?dl=0

[2020-09-19 04:52] jayahm commented on #219
So, it is still a probabilistic DS method right?

[2020-09-20 12:29] jayahm opened #223 "Random subspace method"
Hi

I was trying to generate a pool of classifiers based on random subspace method suing BaggingClassifier, but got this error:

I used exactly your example code but only modified the bagging part.

Here is the code:
https://www.dropbox.com/s/z4iseijtawb53ey/plot_comparing_dynamic_static.ipynb?dl=0

[code]

[2020-09-23 07:52] jayahm opened #224 "Random Forest together with heterogeneous classifiers as the pool"
Hi,

If I include Random Forest with 100 estimators in the pool together with other heterogeneous classifiers, how much is the number of base classifiers in the total?

For example, I included SVC, NB, DT, KNN and RF:

So, the total number of base classifiers is 5 or 104?

[code]

[2020-09-24 01:50] jayahm opened #225 "Inconsistent performance of DS methods"
Hi,

I run some experiments on multiple datasets using several DS methods.

I just got confused that why the performance of each DS methods is not consistent?

For example, sometimes rank X and sometimes rank Y, sometimes rank Z (if the best, not always the best om all datasets).

This made m hard to make a conclusion.

Is this normal?

[2020-09-24 01:52] jayahm opened #226 "Performance of DS methods not same when the pool is changing"
Hi,

I used the same DS method, but with different pools.

What happened was, the DS methods didn't show the same performance in term of ranking.

For example, DS Method X, was the best on  Pool A but not Pool B.

[2020-09-24 16:46] PhilipMay commented on #133
What about soft voting? Is it implemented? Why is this closed?

[2020-09-24 16:50] Menelau commented on #133
Well it was closed for the lack of activity. My last comment was on May 12 and did not get any response since.

[2020-09-24 16:59] PhilipMay commented on #133
Ahh ok.

I thought you were developing it.

[2020-09-24 23:23] Menelau commented on #224
The DS considers each element in the list passed as input (pool_classifiers) as  a single model. So if you do like:

`pool_classifiers = [ model_svc, model_bayes, model_tree, model_knn, model_rf]`

In this case, the RandomForest is viewed as a **single model** as it is one element in the list. So the DS views as a pool of 5 models.

If you want to have a pool composed of all individual trees in th

[2020-09-24 23:27] Menelau commented on #225
Yes, it is normal.  It is the non-free lunch theorem, the best model will depend on the dataset.

 That's why having the appropriate simulation like using cross-validation to estimate performance averages, as well as using proper statistical tests for comparison between multiple machine learning models, is very important.

[2020-09-24 23:30] Menelau commented on #226
That is normal, the performance will always depend on the pool and there will always be change in performance by changing the pool. That's why it is important to estimate an average performance by running multiple simulations like cross-validation or by doing multiple hold-out splits. And measure whether the difference in performance is statistically significant or not with the proper statistical

[2020-09-24 23:53] Menelau commented on #220
Hello,

I just run this same example with scikit-learn=0.22.1 and deslib=0.4dev and had no problems with it. Moreover, our CI also test the examples and found no problems with it.

I'm guessing the problem is on the code part you changed. So without having access to your code I cannot do anything.

[2020-09-24 23:54] Menelau commented on #221
Hello,

It seems that the code you provided through dropbox was deleted so I cannot access the file to see the problem. Did you already fix the issue by yourself?

[2020-09-24 23:59] Menelau commented on #223
Hello,

The library does not support this functionality yet. All models are required to have exactly the same input features.

[2020-09-25 01:20] jayahm commented on #224
Ah, I see. Thank you very much. Now, I understand.

[2020-09-25 01:20] #224 closed

[2020-09-25 01:22] jayahm commented on #225
Can you explain more on the cross-validation part and statistical test?

I mean, not on how to do it. But, on how these two can be helpful for analysis in the case the performance is not consistent?

[2020-09-25 01:26] jayahm commented on #226
OK. But, how do we reach conduction, which method is the best?

I ran both heterogeneous and homogenous pool of classifiers, but, I cannot make a conclusion which is better.

Also, I saw many papers that proposed new DS methods where can their method can outperform other existing methods eventhough the nature of datasets used were diverse. How could a particular method show superiority in this cas

[2020-09-25 01:27] #220 closed

[2020-09-25 01:31] jayahm commented on #221
Very sorry! I was cleaning my Dropbox folders and may I didn't realize I had deleted the file.

I have restored the file and you can click the link in the previous comment.

https://www.dropbox.com/s/9o62o6uicwlajpj/DESLIB_RF.zip?dl=0

[2020-09-25 01:33] jayahm commented on #223
I see. I saw some papers used the random subspace method. So, I was thinking to try it. Any suggestion on how to it even though the library does not support yet?

[2020-09-25 02:03] Menelau commented on #225
Unfortunately, I can't since it is a very long subject, with plenty of nuances to cover, and here is not the place for that (especially since it is also completely out of the scope from this project). I can however suggest some readings:

- Model Evaluation, Model Selection, and Algorithm Selection in Machine Learning:  https://arxiv.org/pdf/1811.12808

- Statistical comparisons of classifiers ove

[2020-09-25 02:03] #225 closed

[2020-09-25 02:12] Menelau commented on #226
You should check the machine learning literature about model selection and how to compare learning algorithms for that. Some suggesting readings are:

- Model Evaluation, Model Selection, and Algorithm Selection in Machine Learning: https://arxiv.org/pdf/1811.12808
-   Statistical comparisons of classifiers over multiple data sets: http://www.jmlr.org/papers/volume7/demsar06a/demsar06a.pdf
-   Jap

[2020-09-25 02:12] #226 closed

[2020-09-26 02:59] Menelau commented on #221
Thanks for providing me the code. I will check it and get back to you with a fix probably tomorrow

[2020-09-26 03:16] Menelau commented on #223
@jayahm Hello,

For that to work you need to implement the Random Subspace method outside BaggingClassifier from sklearn. In the case, each base model should be composed of a sklearn pipeline in which the first step is a transformation that selects a subset of the features, and the second step is the classifier model. That each, each base model in the list pool_classifiers receives the same X as i

[2020-09-26 07:21] jayahm commented on #225
Thanks! I appreciate that

[2020-09-26 07:31] jayahm commented on #226
Thanks! I appreciate that

[2020-09-26 07:33] jayahm commented on #223
Yes, an example would be very helpful as I cannot get what you meant in the explanation above.

[2020-09-26 20:05] #223 closed

[2020-09-28 04:11] jayahm commented on #223
You closed the issue, which means you have created the example?

[2020-09-28 05:36] Menelau commented on #223
Not yet. It was closed because this example is already being tracked by issue #218 , so there is no need to have both open.

[2020-09-29 00:17] Menelau commented on #221
@jayahm Hello,

I think this was a very specific error with the labelencoder that was fixed in a new patch. Can you update the library with the code on master and see if the problem was solved? Now the code example you provided is working fine after the new patch.

[2020-09-30 04:09] jayahm commented on #221
Hi,

It is now working properly! Thanks!

[2020-09-30 04:09] #221 closed

[2020-10-05 07:21] jayahm opened #228 "Expected type 'Optional[int]', got 'RandomState' instead"
Hi,

I wrote the code in PyCharm, but I got that message from PyCHarm for random_sate. I have set a random state.

See below:
https://i.ibb.co/p32HY9Q/Untitled.png

Another thing is that I realized some methods have different results in several runs though I have set random state.

So, I'm wondering if this related the warning from PyCharm?

[2020-10-07 07:11] jayahm opened #229 "Cannot find Online Local Pool"
Hi,

This method is listed in this paper: https://www.jmlr.org/papers/volume21/18-144/18-144.pdf

But, I couldn't find it in hits library.

[2020-10-07 16:12] Menelau commented on #229
This code was moved to a specific branch: **olp_sgh**: https://github.com/scikit-learn-contrib/DESlib/blob/olp_sgh/deslib/dcs/olp.py

It was removed from the master code since it is missing the unit tests. If you want to use this code you can simply copy the olp.py and sgh.py files from this branch to your project.

[2020-10-09 10:15] jayahm opened #230 "For A posteriori, why the probability is devided by total distance?"
Hi,

As per code for A posteiori,

[code]

Why the probability of correct classification is divided by the distance only?

I saw on the paper, it is divided the total probability multiple by the distance.

[2020-10-14 03:45] jayahm opened #231 "Why self.DSEL_target_ is not the same as the original class labels?"
Hi,

My original class label is 0 and 3.

But, when Ic checked using self.DSEL_target_, it was 0 and 1.

Does DESlib convert it to this kind of values or there is something wrong in the way I'm using the library?

[2020-10-14 03:48] jayahm commented on #219
Hi,

I would like to re-open this.

Upon checking, the code to compute the competence is:

`competences = np.mean(self.DSEL_processed_[neighbors, :], axis=1)`

This is measuring the accuracy right?

What I understood, it is based on probability.

Am I wrong somewhere?

[2020-10-14 03:51] Menelau commented on #219
This method is based solely on accuracy. It does not use the classifier's
probabilities.

Em ter., 13 de out. de 2020 às 23:48, jayahm <notifications@github.com>
escreveu:

[2020-10-14 03:54] Menelau commented on #231
We use label encoder to automatically convert labels for faster processing
inside of the models (indexing arrays, so it needs to be sequential) as is
done in any scikit-learn model. That is also performed as a way to deal
with classes that are strings (e.g., cat, dogs).

Em ter., 13 de out. de 2020 às 23:45, jayahm <notifications@github.com>
escreveu:

[2020-10-14 04:37] jayahm commented on #219
But, based on your paper, it was written probabilistic?

[2020-10-14 05:05] Menelau commented on #219
It's an error in the paper.

Em qua., 14 de out. de 2020 às 00:37, jayahm <notifications@github.com>
escreveu:

[2020-10-14 05:38] jayahm commented on #219
So, can I consider it as an accuracy-based method?

[2020-10-14 05:43] Menelau commented on #219
Yes, it is an accuracy based method. It simply selects the base classifiers that have local accuracy higher than random predictions.

[2020-10-15 04:42] jayahm commented on #229
I see.

Okay, thanks for the clarification.

[2020-10-15 04:42] #229 closed

[2020-10-15 04:43] jayahm commented on #231
I see.

Thank very much!

[2020-10-15 04:43] #231 closed

[2020-10-15 04:43] jayahm commented on #219
I see. Thanks!

[2020-10-15 05:10] Menelau commented on #230
Hello,

It is done in order to weigh the influence of each data point x_j in the region of competence in such a way that the closer ones have more influence in the competence level estimation.

[2020-10-17 02:21] jayahm commented on #219
How about DES-KL? Is it accuracy-based DES too?

[2020-10-18 04:32] jayahm commented on #230
I see. But, I saw in your paper, the denominator is the product of probability and distance

In your code above, it is only distance.

Or, I miss some information somewhere?

[2020-10-18 05:24] Menelau commented on #230
This confusion is just due to the notation used in the original paper one
by Giacinto et al (and re-used by the review paper), which is quite
confusing. The denominator is supposed to just filter out the distance of
examples that belongs to the reference class (wl). Hence, we used a boolean
mask for that in the code.

I suggest you check the explanation of this technique in the book Combining
Patt

[2020-10-19 11:38] jayahm commented on #230
Yes, I had double-checked with the original paper before asking you.

I see.

Okay, thank you for the clarification.

[2020-10-19 11:38] #230 closed

[2020-11-12 07:42] #212 closed

[2020-11-12 07:42] #222 closed

[2020-11-14 06:55] jayahm opened #232 "Results of the same methods are not the same"
Hi,

I faced some issue with my experiments.

Even though I have set the rendom_satate, the results seem not to be the same (For several methods)..

The first and second experiment was run on two different Jupyter files.

Is this normal or could be some mistake?

Also, the results of single base classifiers are just fine. Except for DS.

[2020-11-14 08:28] jayahm commented on #232
I forgot to mention:

In the first experiment, I trained each DS method separately:
method1.fit(..)
method2.fit(..)

But for the second experiment, I used loop

list_ds = [method1, method2]

for ...
   method.fit(...)

[2020-11-17 07:58] jayahm commented on #232
Update:

I found that actually, these DS methods have different results:
- APriori
- APosteriori
- MCB

[2020-11-17 17:10] Menelau commented on #232
Hello,

Can you send me the code you used to run the methods? I need to check the way you are defining and using the random_state.

[2020-11-19 04:15] jayahm commented on #232
Hi

You can find my codes below:
https://www.dropbox.com/s/rpyfu5ei22d7btp/For%20DESLIB.zip?dl=0

Apologize if the code is a bit long. You can go to the bottom to see "all results" and compare (the accuracy) between "with-loop" and "without-loop".

I was trying to simply the code but it couldn't show the problem. So, I need to give a bit longer code.

What I did in "without-loop" was manual coding

[2020-11-23 02:26] jayahm commented on #232
Hi,

I made some further check again.

Other than A Priori, A Posteriori and MCB, DES Clustering also produced inconsistent results in some cases.

While other methods, the results are somehow consistent.

The random_sate is also the same.

[2020-11-23 23:52] Menelau commented on #232
Ok, thanks for sharing the code. I will check it and propose a solution either tomorrow or Wednesday.

[2020-11-24 00:53] jayahm commented on #232
Sure. Thank you for your help. I appreciate that.

[2020-11-30 02:27] jayahm opened #235 "Different types of combiners"
Hi,

I notice that there is aggregation class in util

But, how do I change the aggregation strategy, for example, suing weighted MV for DES methods?

[2020-11-30 02:30] jayahm opened #236 "Different ways for defining region of competence"
Hi,

It is known that we can apply adaptive KNN to define the region of competence.

But, how do I apply such a technique to define the region of competence?

How about other types of KNN? I can only see the way to use KNN-Equality in this library.

I there any possibilities to use other types of KNN?

[2020-12-02 08:44] Menelau commented on #236
@jayahm

Other types of KNN is not available in the library and adding variations is not on plan for the near future. If you want to use a different method you will need to get the library source code and add your own implementation of such methods. In this case, you will need to change the code that performs the region of competence estimation to the method you want.

[2020-12-02 08:47] Menelau commented on #235
@jayahm Hello,

In this case, you will need to change the source code to use a different aggregation function. Other aggregation strategies were not added to the DS methods in order to simplify the code.

[2020-12-03 02:06] jayahm commented on #236
OK. In case I want to use DESlib existing methods such as OLA, LCA, DES-P and etc, which file I go and change the implementation fo region of competence definition?

[2020-12-03 02:17] jayahm commented on #235
So, in case I wanted to use weighted MV from [util](https://github.com/scikit-learn-contrib/DESlib/blob/master/deslib/util/aggregation.py), how do I get started?

[2020-12-03 02:57] Menelau commented on #235
You should go to the file **deslib/des/base.py** and get familiar with the **classify_with_ds** and **predict_proba_with_ds** methos. Then, you can change the combination scheme from the majority voting to the desired one.

[2020-12-03 02:59] Menelau commented on #236
region of competence definition code is on the BaseDS class (all other methods inherit from it). So you must go to this class which is located in **deslib/base.py** and modify the source code to use a different KNN algorithm.

[2020-12-10 11:22] amorimlb opened #238 "Can't obtain oracle scores when using Random Subspaces as the pool method"
Hi, Its more a question than an issue, actually (or maybe that's an issue too).
I was able to use the following lines to calculate the oracle on a pool of classifiers using the Bagging method to form the pool:

[code]
It works nicely. But, whenever I use the BaggingClassifier class to create a Random Subspace of the features, I get an error as follows:

[code]
And this outputs lots of lines referr

[2020-12-11 21:25] Menelau commented on #238
Hello,

Unfortunately, BaggingClassifier cannot be used as an implementation of the RandomSusbspace method in this case. The problem is that when a BaggingClassifier generates a list of base models, each model is trained considering just a subset of the features in X instead of receiving the whole set as input and selecting the appropriate ones inside. The predict and predict_proba methods of the

[2020-12-12 13:11] amorimlb commented on #238
Hi Rafael! Thank you so much for your quick answer. It seems to be a good idea, but since I have no experience with pipelines, I ended up writing my own oracle,  like this:
[code]
It is somewhat naive but it seems to work. 😁

[2020-12-15 10:20] jayahm opened #239 "Can we change the threshold for META-DES?"
Hi,

Can I use a different threshold for META-DES?

If yes, what actually the criteria to set the threshold?

If no, why it should be always 0.5?

[2020-12-15 15:26] Menelau commented on #239
Hello,

Yes you can change the competence threshold (**selection_threshold**) so that the method becomes either more (increasing the threshold) or less strict. You can check that in the method's documentation how to do it: https://deslib.readthedocs.io/en/latest/modules/des/meta_des.html

[2020-12-31 23:38] #236 closed

[2020-12-31 23:38] #239 closed

[2020-12-31 23:38] #235 closed

[2021-01-01 07:08] jayahm commented on #238
Hello, everyone,

Sorry for the interruption.

I think this question is exactly like my question in https://github.com/scikit-learn-contrib/DESlib/issues/223

I believe it would good if we have some code available to perform RSM to generate the pool.

[2021-01-01 07:11] jayahm commented on #232
Hi @Menelau

Is there any update on this?

[2021-01-01 22:22] Menelau commented on #232
Hello,

The problem is the way you are setting the random state for the methods. It is exactly the same problem in the previous issue you opened a long time ago: https://github.com/scikit-learn-contrib/DESlib/issues/214

In the experiment you conducted what is happening is that the random state is set once at the beginning and used for all methods. That guarantees that **this script** will always

[2021-01-01 22:25] Menelau commented on #228
@jayahm Yes, this is related to PyCharm. We do not use type hints in the library in order to be compatible with older Python versions. So PyCharm cannot infer the correct type of this input. You can either ignore the warning or instead of passing a RandomState object you can pass an integer instead (the random seed)

[2021-01-05 10:18] jayahm commented on #228
I see. Okay, thanks for the information.

[2021-01-05 10:18] #228 closed

[2021-01-05 10:31] jayahm commented on #232
Hi,

Do you mean, inestead of,

`rng = np.random.RandomState(42)`

I should do:

`rng = 42`

[2021-01-05 21:45] Menelau commented on #232
Yes, so in this case, you guarantee that the random seed will be 42 for each technique, and there will be no side-effects caused by the same random state variable being shared between multiple techniques.

I also recommend you to update the code to the new master branch version since we did some changes recently.

[2021-01-05 22:34] Menelau commented on #232
You can read more about different ways of setting the random state on the scikit-learn documentation: https://scikit-learn.org/stable/glossary.html#term-random_state

[2021-01-06 03:59] jayahm commented on #232
I see. Thank you very much for your great help. I'll update the library soon too.

[2021-01-06 03:59] #232 closed

[2021-01-13 04:55] jayahm opened #241 "Why MV has a longer computational time than DS methods?"
Hi,

I was trying to understand the time taken for training and testing of DS methods.

So, I computed the computational time, which includes:
1. combined training time of all base classifiers (heterogeneous classifiers) - e.g. training time classifier 1 + classifier 2 and so on
2. training time for DS
3. test time

I compared with majority voting and computed the computational time as:
1. combine

[2021-01-13 17:51] Menelau commented on #241
Hello,

The training time for DS models is really fast and I could say negligible
since it only consists of storing the input data and extracting some basic
statistics about the data. The only DS technique that has a real training
process is the META-DES which a meta-classifier is trained inside.

You need to check whether training the MV (from scikit-learn) the method is
re-training the classifie

[2021-01-14 02:44] jayahm commented on #241
Thank you for that information.

I used the similar code in your example code:

[code]

I think the scikit learn MV will re-train the classifiers.

[2021-01-15 17:30] Menelau commented on #241
Yes, unfortunately scikit-learn will re-train the base classifiers, you can see that in their documentation:

https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.VotingClassifier.html

What you can do about it is to use the function majority_voting we have in deslib.utils.aggregation which can apply the majority voting combination rule receiving a list of pre-trained models

https:/

[2021-01-18 04:32] jayahm commented on #241
Thank you for the information.

I also confirmed this by asking on StackOverflow:
https://stackoverflow.com/questions/65712738/does-the-training-of-majority-voting-in-scikit-learn-will-re-train-the-classifie/65734067#65734067

[2021-01-18 04:32] #241 closed

[2021-01-24 20:07] eddiebergman opened #243 "Competences and selections, create example or a simpler API call"
Hello,

I'm using `deslib` as part of benchmark paper comparing classifier selection by AutoML tools vs MCS tools for which this library is hugely useful. However, I need to get the **competences** and **selections** by both DCS and DES methods in `deslib`. There seems to be no [examples](https://deslib.readthedocs.io/en/latest/auto_examples/index.html) for what is exposed as public [API](https://

[2021-01-25 15:21] eddiebergman commented on #243
For anyone who is looking for the same:
[code]

I haven't looked through all the different models that inherit from `BaseDS` but as most (if not all) model types derive from this class, and both `_get_region_competence()` and `_predict_proba_base` are methods of `BaseDS`, the API could be made more user friendly by calling these methods itself, rather than having the use find them. I am happy to h

[2021-01-25 22:09] Menelau commented on #243
Hello,

Yes, all methods derive from the BaseDS class. I agree with you, the API needs to be improved to be easier to use and allow other users to quickly build new DS techniques by using the basic API methods (_get_region_competence, estimate_competence, etc).   My idea is to in the future have those functions exposed and easier to use in a way other users can easily use them to build new techniq

[2021-01-27 14:53] eddiebergman commented on #243
I'll try have a go at refactoring some of the API calls of the derived models to simplify them and update the documentation, later this week or early next week :)

[2021-01-27 19:15] Menelau commented on #243
Great! This will be a good contribution to the library.

If the changes are huge it may be the case to divide the work into multiple smaller pull requests rather than a single one.

[2021-01-28 03:53] jayahm opened #244 "'SVC' object has no attribute '_probA'"
Hi,

I got the follwoing error:

[code]

scikit-learn version '0.24.1'

I tried to downgrade scikit-learn to older versions, but doing that may make the other libraries not work.

[2021-01-28 16:52] Menelau commented on #244
Hello,

Without having an example and an explanation of what you were trying to do I cannot help you since the error stack alone is not informative enough. Are you loading a previously saved SVC? Methods saved with different sklearn versions may not be compatible with new ones.

[2021-01-29 07:25] jayahm commented on #244
Very sorry for the lack of information. Because I thought it has something to with DESLIB compatibility with scikit learn.

To make it short, actually, I run the code with the latest version of scikit-learn.

But, that error came out.

If I downgrade to an older version, it is okay.

Can you confirm whether deslib is still compatible with the latest version of scikit-learn.

If yes, that means, th

[2021-01-29 22:39] Menelau commented on #244
Yes, the library is compatible with scikit-learn=0.24.1

I'm pretty sure your problem is the saved model. It is already known that SVM saved from previous sklearn versions are not compatible with the new ones. You can find some more information about that on stack overflow or even in the sklearn documentation/issues.

[2021-02-01 04:43] jayahm commented on #244
I see. I'll check my scikit-learn. Thanks

[2021-02-01 04:43] #244 closed

[2021-02-26 02:06] jayahm opened #247 ""n_neighbors" is not a multiple of "n_classes" in KNNE"
Hi

I got this warning when using KNNE: https://github.com/scikit-learn-contrib/DESlib/blob/6ae0f5a8f837f1843ccf0a48ae89e911108aa3d2/deslib/util/knne.py#L243

[code]

I understood that `n_neighbors `requires a multiply of a number of classes. But, for example, if I set `n_neighbors =7` for binary classification of two classes, does it mean the final `n_neighbors` will be 6?

How about  `n_neighbor

[2021-03-01 17:44] Menelau commented on #247
@jayahm Hello,

the n_neighbors is still 7, however, the number of neighbors will be 4 belonging to one class and 3 belonging to the other (one class having more neighbors than the other).

[2021-03-04 08:25] jayahm commented on #247
I see. Thanks.

[2021-03-04 08:25] #247 closed

[2021-03-28 05:53] #133 closed

[2021-04-04 22:21] #70 closed

[2021-04-08 04:01] Menelau commented on #238
fixed in #254

[2021-04-08 04:01] #238 closed

[2021-04-08 04:01] Menelau commented on #218
fixed in #254

[2021-04-08 04:01] #218 closed

[2021-10-06 17:33] GeorgePearse opened #257 "Faiss Powered Multi-Label Classification"
Do any of the implementations of KNN within this repo extend to the multi-label case? That is to say, usable in the context of multi-object detection from neural network embeddings or similar.

I was particularly hopeful that KNNE might work? But it's not obvious from the relevant literature.

Thanks a lot.

[2021-10-28 12:36] chenz1hao opened #259 "Why some fundament algorithms like LR DT RF is comparable with DES methods on my dataset."
I mean, the des method does not improve or even worse in the indicators run by my data set.

[2021-10-30 01:01] Menelau commented on #130
@maffei2443 Hello,

I think having this functionality as an "debug" mode would be the best way of solving this issue for now, as we haven't figured out a way of adding this functionality while respecting other constraints/design patterns from scikit-learn.

Would you be interested in working on adding this functionality? Unfortunately I'm quite busy until the end of the year with little time to de

[2021-10-31 08:03] chenz1hao commented on #259
Dataset: [http://bit.ly/xMLdataset](url) (a binary classification task), I ran logistic regression (from sklearn) on this dataset and compare with DES methods (code copy from documentation)
![image](https://user-images.githubusercontent.com/16265544/139573807-3971bb01-7628-4449-8d24-86d76be32ba6.png)
and I found there is no obvious performance improving in using DES methods.
maybe you can have a t

[2021-11-01 13:57] chenz1hao commented on #259
[code]
![image](https://user-images.githubusercontent.com/16265544/139682842-d3493af7-9904-4141-abeb-14b09e9e59e8.png)

as you can see from the picture above, LR is logistic regression in sklearn, nearly all the terms on META-DES are not good as logistic regression.

[2021-11-21 12:45] atifov opened #260 "DES Voting parameter issue"
I would like to change the **_"voting''_** hyperparameter in the DES models. However, whenever I change the voting hyperparameter, I get an error. The code and error are as follows:

_model = KNOP(pool_classifiers=classifiers, voting='soft')_

_TypeError: __init__() got an unexpected keyword argument 'voting'_

Please note that I have been able to change the other hyperparameters, this is the only

[2021-11-23 02:07] Menelau commented on #260
@atifov Hello,

Which version of the library are you using? The stable version (0.3.5) or the one installed based on the master code (dev)? Can you try installing the master version with the command:

pip install git+https://github.com/scikit-learn-contrib/DESlib

and see if it works?

[2021-11-23 05:12] atifov commented on #260
I checked the version of library, it's the latest version 0.3.5.

Following are the commands and results:

_import deslib
print(deslib.__version__)
0.3.5_

[2021-11-23 05:27] atifov opened #261 "Problems with probabilities and outputs"
I have been using the Deslib library to classify a binary problem and used various DES algorithms. When I applied the model on the test dataset, I ran into some problems.

According to my understanding, for a binary classification problem, 0.5 is the default threshold. If the **_"predict_proba"_** is higher than 0.5, then it should be classified as 1, otherwise 0.

However, for some instances when

[2021-11-23 05:42] Menelau commented on #261
No this is not normal and there may be a problem regarding label encoding in your simulations. However, I cannot help you without a simple code example showing this happening.

[2021-11-23 05:56] atifov commented on #261
Please note that I have used the same code with adjustments in several other scikit learn models, including both voting and stacked classifiers. This is the only time I got into this kind of situation.

Following is the main code:

`X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.2, random_state=0)`

`classifiers = [LogisticRegression(),
              RandomForestClassifier()

[2021-11-23 06:24] Menelau commented on #261
Thanks for the code example! I will check it tomorrow (well it is quite late around here).

By the way, can you try in the meantime install the new version of the library (current master code) and see if this also happens? I'm suspecting this could happen due to the previous version of predict using "hard voting" and predict_proba using "soft voting". As these are very different types of classifie

[2021-11-23 06:33] atifov commented on #261
Thanks for the prompt reply.

Please note that I have also used **_"Stacked classifiers"_** using the DESlib library with the same classifiers and did not encounter any problems. Moreover all five classifiers have the "predict_proba" function available in them.

As you suggested in the meanwhile, I will reinstall the latest version of the deslib library and re-run the code to see if the problem ca

[2021-11-23 06:37] Menelau commented on #261
Please try to install the master code using **pip install git+https://github.com/scikit-learn-contrib/DESlib** and see if the problem persists. If that solves your problem I will try to create a new version (0.3.6) with this fix tomorrow since that is quite a huge change in behavior and needs to be in the pypi package asap.

[2021-11-23 13:30] atifov commented on #260
Following your advice and installing the master version, the issue has been resolved. Thanks a lot.

[2021-11-23 13:30] #260 closed

[2021-11-23 13:31] atifov commented on #261
Following your advice and installing the master version, the issue has been resolved. Thanks a lot.

[2021-11-23 13:31] #261 closed

[2021-11-23 13:47] atifov opened #262 "Issue with using XGBClassifier"
When I use XGBClassifier (from XGboost library) using any DES or DCS algorithm, I am getting a **_features_names mismatch error_**. I have pooled several other classifiers successfully. This error only arises when using Xgboost is included in the pooled classifiers. Moreover I have successfully been able to use XGBoost in the Deslib Stacked Classifier algorithm. Please note as per previous advice,

[2021-11-24 05:09] Menelau commented on #262
@atifov thanks for reporting this issue.

Apparently this happens due to a difference in implementation between sklearn ensembles and XGBoost. Let me dig deeper into this issue to come up with a solution to this compatibility problem.

[2021-12-24 04:15] ItsHaiming opened #263 "How to get the estimate_competence"
Hi
I'm using KNORA-U to do the classification problem. I hope to get the final classifier chosen from the classifier pool, and I can see from the document that there are functions like `"estimate_competence(competence_region, distances=None, predictions=None)"` and `"select(competences)"` to achieve this. But I'm confused about the parameter" competence_region", is there any example or explanation

[2021-12-24 04:32] ItsHaiming commented on #263
Is that mean, I should create an array, with the index of k nearest neighbors? should I use KNN to find the parameter?

[2021-12-30 10:18] francescopisu opened #264 "Proper way of fitting classifiers before creating an heterogeneous pool"
Hey, I'm working on a research paper focused on building a binary classification model in the biomedical domain. The dataset comprises approximately 800 data points. By following the instructions on the examples, I've found two different ways of splitting the dataset and fitting the base classifiers of the pool.

1) Split in train/test (e.g., 75/25) and then split the training in train/dsel (e.g.,

[2022-01-03 07:31] francescopisu commented on #264
Any update on this ?

[2022-01-04 23:08] Menelau commented on #264
Hello,

In you case (small dataset with about 800 samples), I do believe that using the whole 75% for training the base models and DSEL I'm pretty sure the best way of handling it is having some overlap between the datasets.

Does your dataset also suffers from class imbalance? If yes, this is another indication that you should consider an overlapping approach as the minority class may be quite un

[2022-01-04 23:18] Menelau commented on #263
Hello,

Yes, the competence region is the array with the K-nearest neighbours for all testing instances. you can obtain this array calling the **_get_region_competence** function in the library.

[2022-01-05 15:25] francescopisu commented on #264
Hello Menelau, thank you very much for your time and valuable inputs. My dataset suffers from mild imbalance, but this time is the negative class (let's say absence of condition) to be underrepresented, which is the class I'm less interested in. I'm going to read these two articles and try to apply what you suggested.

[2022-02-22 18:35] francescopisu commented on #264
I have some feedback regarding the overlap. If I understood correctly, Xtrain and Xdsel should be taken such that set.intersection(Xnew_train, Xdsel) is not empty set.

Let Xtrain, Xtest = train_test_split(features, target, test_size=0.2)
be the train and test set after the first split (test set is 20% of the original dataset).

Then, I'm sampling 80% of entries from Xtrain to get the new training

[2022-05-17 09:32] jayahm opened #267 "Multi-label classification"
Hi

Can this library and its methods work with multi-label classification algorithms?

[2022-05-24 23:12] Menelau commented on #267
@jayahm Hello,

I haven't tested it yet but it should work well with the multi-output package from scikit-learn which transform a general estimator into a multi-label classification (or regression) algorithm: https://scikit-learn.org/stable/modules/classes.html#module-sklearn.multioutput

so in this case it would be used together with the ClassifierChain or MultiOutputClassifier methods.

[2022-05-26 06:42] JSHAILAJA opened #268 "Can real time data be taken for DESlib"

[2022-06-05 06:09] jayahm commented on #267
Hi

I have tested with ClassifierChain. I got the following errors:

y_self has the shape of (200, 6918), where 6918 is the number of labels (0-1 binarized).

[code]

[2022-06-06 03:51] Menelau commented on #267
Hello,

Can you provide me with a small code example you used to get this error? Then, I can what can be done.

[2022-06-06 03:54] Menelau commented on #268
@JSHAILAJA Hello,

In the case what do you mean by real time data? Is it a dynamic environment in which data comes as a stream (online setting) instead of dealing with just a static block of data? If yes, DESlib does not offer this functionality natively. However, there are other Python libraries that uses the estimators from scikit-learn and put them in an environment that can deal with it. You y

[2022-06-09 05:02] jayahm commented on #257
Hi @GeorgePearse

Sorry for the interruption.

Did you manage to perform DS on multi-label datasets?

I think the discussion is also related to my question [here](https://github.com/scikit-learn-contrib/DESlib/issues/267).

The issue is with y_val needs to be a 1d array, while target values/labels for multi-label datasets are more than 1 dimension.

[2022-06-09 05:06] jayahm commented on #218
Hi,

I just realized the issue has been fixed. But, I'm not sure how to start applying it

[2022-06-17 03:26] Menelau commented on #267
@jayahm Hello,

According to the example you provided, you want each base model to be a multilabel classifier and select the best between them  according to each new sample correct? If that is the case there is no support for that. To the best of my knowledge, there is no dynamic ensemble technique that performs classifier selection of multi-label models. So we would need to develop a new techniqu

[2022-06-17 04:35] jayahm commented on #267
**_According to the example you provided, you want each base model to be a multilabel classifier and select the best between them according to each new sample correct?_**

Yes, very true.

**_I spent some time looking if there exists any technique in the literature by did not find any, so there is a huge potential for interesting research there..._**

Yes, I couldn't find too actually.  I could fe

[2022-06-23 07:27] jayahm commented on #267
Hi

I tried your suggestion but using a heterogeneous pool of classifiers. I used the code I wrote above.

It seems like in order to train each classifier, it still needs a single-label dataset.

I think the code you suggested previously will generate bagging classifiers.

[2022-07-03 17:53] jayahm commented on #267
Hi @Menelau

That sounds good. I'll check the mentioned paper. Thanks for sharing.

Hopefully, deslib will capable of handling multi-label classification soon.

[2022-07-05 05:56] #268 closed

[2022-07-05 05:57] #263 closed

[2022-08-04 14:14] qm-intel opened #270 "Is DES applicable for Graph convolutional Networks (GCNs)"
Hi,
Thank you for your great contribution to science.
I have a question and wondering if DESlib can be applied for GCNs or is there any other library similar to DESlib algorithms that they have extended DESlib for dynamic selection of GCNs?

[2022-08-05 17:02] Menelau commented on #270
Hello,

So in your case, your data is represented by graphs (training/testing data) instead of just a tabular matrix correct? Unfortunately, all inputs to DESlib follow the scikit-learn standard, always having real-valued feature vectors as input in a 2d matrix where each row represents a new instance: https://scikit-learn.org/stable/faq.html#will-you-add-graphical-models-or-sequence-prediction-to

[2022-11-22 09:32] qm-intel commented on #270
@Menelau Dear Dr. Cruz, thanks for responding to my question.

yes, these are few samples from the training set that I have listed here with their dimension. For example, the first graph has `104` nodes and each node has `79` features, `edge_index` is the adjacency matrix, which means there is `108` connection (edges) between nodes. Each edge can have attributes or not, then `edge_attr` represents